/* TotalCalificacionesProducto.module.css */

.container {
  max-width: 500px; /* Ancho máximo */
  height: 300px; /* Altura fija */
  overflow-y: auto; /* Agrega barra de desplazamiento vertical cuando el contenido excede la altura */
  border: 1px solid #ccc; /* Borde para la caja */
  padding: 10px; /* Espaciado interior */
  margin: 50px;
}

.calificaciones-column {
  display: flex;
  flex-direction: column;
}

.calificacion-item {
  margin-bottom: 15px;
}

.calificacion-item p {
  margin: 0;
}

/* Estilos para la barra lateral de desplazamiento */
.container::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra de desplazamiento */
}

.container::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.5) !; /* Fondo semitransparente */
}

.container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.8); /* Color de la barra */
  border-radius: 4px; /* Borde redondeado */
}

.container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.9); /* Color de la barra al pasar el mouse */
}

.star-rating {
  color: gold; /* Color de las estrellas */
  font-size: 20px; /* Tamaño de las estrellas */
}

@media(max-width:500px){
.container{
  height: 100px;
  
}

}
  