.home{
    display: flex;
    
  }
  .contenedorCategorias{
    background-color: #4867DB;
    display: flex;
    flex-direction: column;
    width: 15vw;
    margin: 15vh 0vw 0vh 0vw;
  }
  .tituloCategorias{
    font-size: 2vw;
    text-align: center;
    margin: 3vh 0vw 0vh 0vw;
    font-weight: 600;
  }
  .categoriaUno, .categoriaDos,.categoriaTres,.categoriaCuatro,.categoriaCinco{
    display: flex;
    flex-direction: column;
    width: 13vw;
    align-items: center;
    margin: 5vh 0vw 0vh 1vw;
  }
  .tituloCategoriaUno,.tituloCategoriaDos,.tituloCategoriaTres,.tituloCategoriaCuatro,.tituloCategoriaCinco{
    margin: 0vh 0vw 0vh 0vw;
    color: #FFFFFF;
    font-size: 1.2vw;
  }
  .img1CategoriaUno,.img2CategoriaUno,.img1CategoriaDos,.img2CategoriaDos,.img1CategoriaTres,.img2CategoriaTres,.img1CategoriaCuatro,.img2CategoriaCuatro,.img1CategoriaCinco,.img2CategoriaCinco{
    width: 13vw;
    height: 15vh;
    margin: 3vh 0vw 2vh 0vw;
  }
  .img1CategoriaUno:hover,
  .img2CategoriaUno:hover,
  .img1CategoriaDos:hover,
  .img2CategoriaDos:hover,
  .img1CategoriaTres:hover,
  .img2CategoriaTres:hover,
  .img1CategoriaCuatro:hover,
  .img2CategoriaCuatro:hover,
  .img1CategoriaCinco:hover,
  .img2CategoriaCinco:hover {
    width: 14vw;
  }


  /********************Buscador****************/

.contenedorDos{
    width: 80%;
    margin: 10vh 1vw 0vh 3.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .barraBuscador{
    width: 80%;
    height: 70px;
    display: flex;
    flex-direction: row;
    
    background-color: #DAC9DF;
    margin: 10vh 0vw 0vh 0vw;
    border-radius: 20px;
  }
  
  .formularioBuscador{
    height: 5vh;
    width: 40vh;
    margin: 16px 2vw 0.5vh 0vw;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
  
  }
  
  .inputSearch{
    width: 10vw;
    height: auto;
    text-align: center;
    border: none;
    font-size: 1.1vw;
    margin: 0vh 0vw 0vh 5vw;
    cursor: pointer;
    background-color: #FFFFFF;
    color: black;
     border-radius: 8px;
     border-style: none;
     box-sizing: border-box;
     color: black;
     cursor: pointer;
     display: inline-block;
     font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size: 14px;
     font-weight: 500;
     height: 35px;
     line-height: 20px;
     list-style: none;
     outline: none;
     position: relative;
     text-align: center;
     text-decoration: none;
     transition: color 100ms;
     vertical-align: baseline;
     user-select: none;
     -webkit-user-select: none;
     touch-action: manipulation;
  }
  
  
  
  .inputSearchBuscador{
    width: 150px;
    height: 33px;
    text-align: center;
    border: none;
    font-size: 1vw;
    margin: 16px 2vw 0.5vh 0vw;
    background-color: #FFFFFF;
     border-radius: 8px;
     border-style: none;
     box-sizing: border-box;
     color: black;
     display: inline-block;
     font-size: 14.5px;
     font-weight: 500;
     line-height: 20px;
     list-style: none;
     outline: none;
     position: relative;
     text-align: left;
     transition: color 100ms;
     vertical-align: baseline;
     user-select: none;
     -webkit-user-select: none;
     touch-action: manipulation;
  }
  
  .inputSearchBuscador::placeholder {
    color: black;
  }
  
  .inputSearchBuscador:focus {
    border:  solid black;
    
  }
  
  
  .bx.bx-calendar {
    font-size: 3.7vh;
    margin: 9px 0.5vw 0vh 0vw;
  }
  
  
  
  .calendarioInicio {
    width: 130px;
    height: 33px;
    margin: 8px 0.5vw 0vh 0vw;
    display: flex;
    border-radius: 8px;
    font-size: 1.68vh;
    
  }
  
  .calendarioFinalizacion{  
    width: 130px;
    height: 33px;
    margin: 8px 0.3vw 0vh 0vw;
    display: flex;
    border-radius: 8px;
  }
  
  .inputSearch:focus{
    outline: none;
  }
  
  .botonBuscarFecha{
    height: 33px;
    width: auto;
    border: none;
    margin: 8px 0.3vw 0vh 0vw;
    cursor: pointer;
    background-color: #AC6ABA;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    outline: none;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .botonBuscarFecha:hover,
  .botonBuscarFecha:focus {
    background-color: #F082AC;
  }
  
  .botonBuscar{
    width: 3vw;
    height: 3vh;
    border: none;
    margin: 1vh 1vw 0vh 0vw;
    cursor: pointer;
     background-color: #AC6ABA;
      border-radius: 8px;
      border-style: none;
      box-sizing: border-box;
      color: #FFFFFF;
      cursor: pointer;
      display: inline-block;
      font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 14px;
      font-weight: 500;
      height: 35px;
      line-height: 20px;
      list-style: none;
      margin: 0;
      outline: none;
      padding: 10px 16px;
      position: relative;
      text-align: center;
      text-decoration: none;
      transition: color 100ms;
      vertical-align: baseline;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }
  
    .botonBuscar:hover,
    .botonBuscar:focus {
      background-color: #F082AC;
    }
   
   
  
  