/******************************************************************/
/* Estilos para las sugerencias del Autosuggest */
/******************************************************************/
.inputSearchBuscador {
  width: 200px;
  height: 33px;
  text-align: center;
  border:black;
  font-size: 1vw;
  border-radius: 8px;
  box-sizing: border-box;
  color: black;
  display: inline-block;
  font-size: 14.5px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  outline: none;
  position: relative;
  text-align: left;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.react-autosuggest__suggestions-container {
    position: absolute; 
    z-index: 10;
  }
  
  .react-autosuggest__suggestions-container--open {
    display: block;
    overflow-y: auto;
    width: calc(100% - 20px);
    max-width: 190px;
    /* Ancho del contenedor (ajustar según sea necesario) */
    max-height: 200px;
    /* Altura máxima del contenedor (ajustar según sea necesario) */
    overflow-y: auto;
    /* Agregar barra de desplazamiento vertical si es necesario */
    background-color: white;
    /* Fondo blanco */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
  }
  
  .react-autosuggest__suggestions-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .react-autosuggest__suggestion {
    padding: 10px;
    cursor: pointer;
    color: black;
    /* Color de texto negro */
  }
  
  .react-autosuggest__suggestion--highlighted {
    background-color: #f0f0f0;
  }


  @media screen and (max-width: 414px) {

    .inputSearchBuscador {
      width: 345px;
      margin: 5px;
    }

  }