/* ---->Header-------------------------- */
.header{
    width: 100%;
    height: 5rem;
    background-color: #6269d3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 0 1rem;
    z-index: 1000;
  }
  
  .contenedorLogo{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .imagenLogo{
    width: 5.5rem;
  }
  
  .logo {
    border-radius: 100%;
  }
  
  .logo:hover {
    filter: drop-shadow(0 0 2em #e69ae2aa);
    border-radius: 50%;
  }
  
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #e189e4aa);
    border-radius: 50%;
  }
  
  .lema{
    font-size: 1.2rem;
    color: white;
  }
  
  .botones{
    display: flex;
    align-items: center;
  }
  
  .botonHeader{
    font-size: small;
    padding: 5px 10px;
    background-color: #AC6AB4;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
    margin: 0 0.3rem;
  }
  
  
  .botonHeader:hover {
    background-color: #ceb0d1;
  }
  .botonHeader:active {
    background-color: #ceb0d1;
  }


@media screen and (max-width: 540px) {
  .contenedorLogo{
    width: 40vw;
    align-self: center;
  }
  .lema{
    font-size:small;
  }
}

@media screen and (max-width: 430px) {
  .botonera{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
  }
 
  .botonHeader{
   font-size: smaller;
   padding: 5px 10px;
   background-color: #AC6AB4;
   border-radius: 5px;
   color: white;
   border: none;
   cursor: pointer;
   margin-top: 1px;
   margin-bottom: 1px;
 }
 }