.contenedorProductos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 75%;
}

.card {
  width: 20vw;
  height: auto;
  /* padding: 5px; */
  margin: 1vw;
  /* background-color: #AC6AB4; */
  /* background-color: #DAC9DF; */
  border: solid;
  background-color: #f5e4f7;
  border-color: #AC6AB4;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  color: black    ;
}

.tituloProducto {
  background-color: #ad6ab4be;
  color: white;
  width: 220px;
  border-radius: 10px;
}

.cardTop {
  width: 100%;
  font-size: small;
  display: flex;
  justify-content: space-between;
  margin-bottom: -43px;
  padding:0px 10px 0px 10px;
  background-color: rgb(139 139 139 / 50%);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  z-index: 900;
}



.card:hover {
  transform: scale(1.05);
}

.contenedorJuegoCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.tituloProducto {
  margin-top: 5px;
  text-align: center;
  font-weight: 700;
}

.DescriptionProduct {
  width: 100%;
  height: 50px;
  text-align: center;
}

.imageProduct {
  width: 100%;
  height: 30vh;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  /* border-radius: 1vh; */
}

a {
  text-decoration: none;
}

/* .estrellas {
  margin: 0vh 1vw 0vh 0vw;
} */



.cardVotos {
  font-size: 1.5rem;
}


/*Estilos para IpadMini, TODAS LAS PANTALLAS MENORES A 768px*/
@media screen and (max-width: 768px) {
  .contenedorProductos {
    width: 90%;
  }

  .card {
    width: 35vw;
  }

  .imageProduct {
    width: 100%;
    height: 20vh;
  }

  .tituloProducto {

    width: 180px;
    margin-top: -15px;
    text-align: center;
    font-weight: 700;
    border-radius: 10px;
  }

  .DescriptionProduct {
    height: 60px;
  }
}

@media screen and (max-width: 414px) {

  .card {
    width: 250px;
  }

  .contenedorProductos {
    flex-wrap: wrap;
    width: 100%;
  }

  .tituloProducto {
    background-color: #ad6ab4be;
    color: white;
    width: 150px;
    margin-top: -15px;
    text-align: center;
    font-weight: 700;
    border-radius: 10px;
  }

}