.contenedorProductos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 3vh 0vw 4vh 0vw;
    width: 75%;
  }
  .tituloProductos{
    width: 100%;
    padding: 10px;
    background-color: white;
    color: #4867DB;
    border-radius: 5px;
    font-size: 2.5vw;
    text-align: center;
  }

  .cardTop{
    display: flex;
    justify-content: space-between;
  }

  .card{
    width: 20vw;
    height: auto;
    padding: 5px;
    margin: 1vw;
    background-color: #AC6AB4;
    color:black;
    box-shadow: (8px 8px 8px 10px) black;
    margin-top: 2vw;
    border-color: #0056b3;
    border-width: 0.3vh;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    
  }
  .card:hover {
    transform: scale(1.05); 
  }
  
  .tituloProducto  {
    margin-top: 5px;
    color: white;
    text-align: center;
    font-weight: 700;
  }
  .DescriptionProduct{
    color: white;
    text-align: center;
  }
  
  .imageProduct{
    width: 90%;
    height: 25vh;
    margin-left: 1vw;
    border-radius: 1vh;
  }
  
  a{
    text-decoration: none;
  }
  
  .estrellas{
    margin: 0vh 1vw 0vh 0vw;
  }

  .cardBottom{
    display: flex;
    justify-content: space-between;
    align-items: center;  
    color:#D9D9D9
  }
  
  .cardVotos{
    font-size: 1.5rem;
  }
  