

.darkOverlay {
  position: fixed; /* Cambiado a posición fija */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Ajusta el valor alfa según desees */
  z-index: 9997; /* Asegúrate de que sea menor que el z-index del modalContainer */
}






  