.container{
  width: 100%;
  margin: auto;
  padding: 0px 5px ;
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

header {
  background-color: #6269d3;
  width: 100%;  
  box-sizing: border-box; 
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.logo {
  display: flex;
  align-items: center;
   
}

.logo img {
  width: 90px;
  margin-right: 10px;
}

.logo p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 10px;
  font-size: 20px;
  color: #fff;
  padding: 0px 5px 3px 3px;
  margin-left: auto; 

}

.buttons {
  margin-left: auto; 
}

.buttons button {
  
  border-radius: 50px;
  color: #FFFFFF;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 100;
  padding: 10px;
  background-color: #6269D3;
  border: solid #AC6ABA 5px;
  cursor: pointer;
  text-align: center;
  margin-right: 9px;
  
}

body{
  background-color: #AC6ABA;
}

