.card{
    width: 20vw;
    height: 35vh;
    margin: 5vh 0vw 0vh 0vw;
  }
  .imageProduct{
    width: 19.8vw;
    height: 25vh;
  }
  .nameProduct{
    height: 10vh;
    text-align: center;
    font-size: 1.2vw;
    color: #FFFFFF;
    background-color: rgb(255, 0, 76);
  }
  a{
    text-decoration: none;
  }

