.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.contenedorProductos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;    
    width: 50vw;
  }

  .tituloProductos{
    width: 100%;
    height: 5vh;
    text-align: center;
    font-size: 2vw;
    color: #FFFFFF;
  }