.container{
    display: flex;
}
.imgContenedorPrincipal{
    display: flex;   
    justify-content: flex-start; 
    width: 50%;
    height: 50%;
}

.imgContenedorSecundario{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;  
    width: 100%;       
}

.imgPrincipal{
    width: 50%;  
    height: 50%; 
    flex-grow: 1; 
    padding: 10px;  
    border-radius: 20px;    
}

.imgSecundarias{
    width: 30%;    
    height: 45%;        
    flex-grow: 1;  
    margin: 10px;   
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); 
}

.info{
    width: 30%;
    padding-left: 10%;
    color: aliceblue;
}

.title{
 color: antiquewhite;
}

.btnAlquiler {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border: 2px solid #2c0b8e;
    background: #2c0b8e;
  }
  .btnAlquiler:hover {
    background: #fff;
    color: #2c0b8e
  }

  .datePickerContainer {
    display: flex;
    flex-direction: column;
    
    margin-bottom: 10px; /* Ajusta el margen inferior según sea necesario */
}

.datePickerWrapper {
    margin: 0 10px; /* Ajusta el margen horizontal según sea necesario */
    align-self: flex-end;
}
