.container{
    width: 800px;
    height: auto;
    padding: 20px;
      border-radius: 15px;
        -webkit-user-select: none;
        -moz-user-select: none;
         -ms-user-select: none;
          user-select: none;
    overflow-y: hidden;
    display: flex;
     flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
    background: #dde5f4;
}