/******Form General***********************/

.divAddProduct {
    display: flex;
  }
  
  .formularioAddProducto {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 550px;
    height: 500px;
    align-items: center;
    justify-content: space-between; 
    border-radius: 15px;
    user-select: none;
    background: #dde5f4;
    box-shadow: 1px 1px 8px black; 
  }
  
  .tituloFormulario {
    margin-bottom: 20px;
    font-size: 2vw;
    text-align: center;
    color: #6269d3;
    font-weight: bold;
  }
  
  
  .contenedorInputDatos {
    border: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
  }
  
  .contenedorInputImgText {
    margin-top: 10px;
    margin-bottom: 20px;
    border: none;
    display: flex;
    flex-direction: row;
    align-items:start;
    flex: 1;
  }
  
  .inputCategoria,
  .inputName,
  .inputCategoria,
  .inputPrecio,
  .inputTipo,
  .inputConsola,
  .inputImage1,
  .inputImage2,
  .inputImage3,
  .inputImage4,
  .inputImage5,
  .inputCaracteristicaAdd {
    padding-left: 5px;  
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px;
    background: #f1f7fe;
    border-radius: 10px;
    font-size: small;
    width: 160px;
    box-shadow: .2px .2px 1px black;
    border: none;
    
  }
  
  .contenedorInputDatos ::placeholder{
    font-size: small;
    width: 100%;
    padding: 10px 10px;
  } 
  
  .contenedorInputImgText ::placeholder{
    font-size: small;
    width: 100%;
    padding: 10px 10px;
  } 
  
  .formularioAddProducto select{
    font-size: small;
    color: rgb(97, 94, 94);
    padding-left: 5px;
  }
  
  .inputDescripcion {
    font-size: small;
    margin: 5px;
    padding: 10px;
    background: #f1f7fe;
    width:280px;
    height:124px;
    border-radius: 10px;
    box-shadow: .2px .2px 1px black;
    border: none;
    overflow: hidden;
    
  }
  
  .contenedorCaracteristicas {
    margin: 20px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: #f1f7fe;
    flex: 1;
  }
  
  .contenedorCaracteristicaCheckbox {
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    border-radius: 15px;
    background-color: #f1f7fe;
  }
  
  .tituloCheckbox {
    margin-bottom: 20px;
    text-align: center;
    font-size:larger;
    font-weight: 500;
  }
  
  .contenedorCheckbox {
    display: flex;
    font-size: small;
    color: rgb(97, 94, 94);
  }
  
  .inputCheckbox {
    font-size: small;
   margin-right: 4px ;
  }
  
  .nombreCaracteristica {
    font-size: small;
  }
  .guardarProducto {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .guardarProducto:hover {
    background-color: #0056b3;
  }
  
  
  .textFalla,
  .textExito {
    color: #6269d3;
    width: 25vw;
    height: 55vh;
    bottom: 6vh;
  }
  
  .textExito {
    height: 65vh;
  }
  
  .textFallaServer {
    color: #6269d3;
    width: 25vw;
    height: 57vh;
    bottom: 6vh;
  }