*{
  margin: 0;
  font-family:Arial, Helvetica, sans-serif;
}
.dark{
  background-color: black;
  color: #FFFFFF;
}
.light{
  background-color: white;
}
/************************************Desktop***********************************/

/************************************Header***********************************/
.Header{
  width: 100%;
  height: 15vh;
  background-color: #6269d3;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 1000;
  margin: 0vh 0vw 0vh 0vw;
}
.contenedorLogo{
  width: 38vw;
  height: 10vh;
  display: flex;
  margin: 0vh 0vw 0vh 4vw;
}
.imagenLogo{
  margin-top: 3px;
  width: auto;
  height: 14vh;
}
.imagenLogo:hover{
  width: auto;
  height: 13.5vh;
}
.lema{
  margin: 6vh 0vw 0vh 0vw;
 color: #FFFFFF;
 font-weight: 500;
 font-size: 1.5vw;
}
.botones{
  display: flex;
  justify-content: center;
  
  margin-right: 10px;
  width: 20vw;
  height: 5vh;
  margin: 5.5vh 5vw 0vh 0vw;
}
.crear-cuenta{
  width: 10vw;
  height: 5vh;
  background-color: #FFFFFF;
  border-radius: 5px;
  border: none;
  color: #AC6ABA;
  font-weight: 500;
  font-size: 1vw;

}
.iniciar-sesion{
  width: 10vw;
  height: 5vh;
  background-color: #FFFFFF;
  border-radius: 5px;
  border: none;
  color: #0C1029;
  font-weight: 500;
  font-size: 1vw;

}
.crear-cuenta:hover{
  color: black;
  
}
.iniciar-sesion:hover{
  background-color: #AC6AB4;
  color: white;
  
}
.themeLight,.themeDark{
  width: 40px;
  height: 95%;
  border: none;
  background-color:transparent;
  border-radius: 5px;
}
.themeLight:hover,
.themeDark:hover{
  background-color: #FFFFFF;
}



/************************************Footer***********************************/


.footer{
  background-color:#6269d3;
  padding:10px 0px;
  font-family: 'Play', sans-serif;
  text-align:center;
  
  }


.footer .row{
    padding: 5px;
    margin:1% 0%;
    margin-bottom: 0px;
    color:#D9D9D9;
    font-size:0.8em;
 }

.footer .row a{
  display:inline-block;
  text-decoration:none;
  color: #FFFFFF;
  transition:0.5s;
}

.footer .row a:hover{
    color:#5e5e5e;
    }
    
.footer .row ul li{
    display:inline-block;
    direction: row;
    margin:0px 30px;
}
    
.footer .row a i{
  font-size:2em;
  margin:0% 1%;
}
.roww{
color:#D9D9D9;
font-size: 11px;
}



/***********************************Home****************************************/

/********************Categorias****************/
.home{
  display: flex;
  
}
.contenedorCategorias{
  background-color: #4867DB;
  display: flex;
  flex-direction: column;
  width: 15vw;
  margin: 15vh 0vw 0vh 0vw;
}
.tituloCategorias{
  font-size: 2vw;
  text-align: center;
  margin: 3vh 0vw 0vh 0vw;
  font-weight: 600;
}
.categoriaUno, .categoriaDos,.categoriaTres,.categoriaCuatro,.categoriaCinco{
  display: flex;
  flex-direction: column;
  width: 13vw;
  align-items: center;
  margin: 5vh 0vw 0vh 1vw;
}
.tituloCategoriaUno,.tituloCategoriaDos,.tituloCategoriaTres,.tituloCategoriaCuatro,.tituloCategoriaCinco{
  margin: 0vh 0vw 0vh 0vw;
  color: #FFFFFF;
  font-size: 1.2vw;
}
.img1CategoriaUno,.img2CategoriaUno,.img1CategoriaDos,.img2CategoriaDos,.img1CategoriaTres,.img2CategoriaTres,.img1CategoriaCuatro,.img2CategoriaCuatro,.img1CategoriaCinco,.img2CategoriaCinco{
  width: 13vw;
  height: 15vh;
  margin: 3vh 0vw 2vh 0vw;
}
.img1CategoriaUno:hover,
.img2CategoriaUno:hover,
.img1CategoriaDos:hover,
.img2CategoriaDos:hover,
.img1CategoriaTres:hover,
.img2CategoriaTres:hover,
.img1CategoriaCuatro:hover,
.img2CategoriaCuatro:hover,
.img1CategoriaCinco:hover,
.img2CategoriaCinco:hover {
  width: 14vw;
}
/********************Buscador****************/

.contenedorDos{
  width: 80%;
  margin: 10vh 1vw 0vh 3.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.barraBuscador{
  width: 80%;
  height: 70px;
  display: flex;
  flex-direction: row;
  
  background-color: #DAC9DF;
  margin: 10vh 0vw 0vh 0vw;
  border-radius: 20px;
}

.formularioBuscador{
  height: 5vh;
  width: 40vh;
  margin: 16px 2vw 0.5vh 0vw;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;

}

.inputSearch{
  width: 10vw;
  height: auto;
  text-align: center;
  border: none;
  font-size: 1.1vw;
  margin: 0vh 0vw 0vh 5vw;
  cursor: pointer;
  background-color: #FFFFFF;
  color: black;
   border-radius: 8px;
   border-style: none;
   box-sizing: border-box;
   color: black;
   cursor: pointer;
   display: inline-block;
   font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 14px;
   font-weight: 500;
   height: 35px;
   line-height: 20px;
   list-style: none;
   outline: none;
   position: relative;
   text-align: center;
   text-decoration: none;
   transition: color 100ms;
   vertical-align: baseline;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
}



.inputSearchBuscador{
  width: 150px;
  height: 33px;
  text-align: center;
  border: none;
  font-size: 1vw;
  margin: 16px 2vw 0.5vh 0vw;
  background-color: #FFFFFF;
   border-radius: 8px;
   border-style: none;
   box-sizing: border-box;
   color: black;
   display: inline-block;
   font-size: 14.5px;
   font-weight: 500;
   line-height: 20px;
   list-style: none;
   outline: none;
   position: relative;
   text-align: left;
   transition: color 100ms;
   vertical-align: baseline;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
}

.inputSearchBuscador::placeholder {
  color: black;
}

.inputSearchBuscador:focus {
  border:  solid black;
  
}


.bx.bx-calendar {
  font-size: 3.7vh;
  margin: 9px 0.5vw 0vh 0vw;
}



.calendarioInicio {
  width: 130px;
  height: 33px;
  margin: 8px 0.5vw 0vh 0vw;
  display: flex;
  border-radius: 8px;
  font-size: 1.68vh;
  
}

.calendarioFinalizacion{  
  width: 130px;
  height: 33px;
  margin: 8px 0.3vw 0vh 0vw;
  display: flex;
  border-radius: 8px;
}

.inputSearch:focus{
  outline: none;
}

.botonBuscarFecha{
  height: 33px;
  width: auto;
  border: none;
  margin: 8px 0.3vw 0vh 0vw;
  cursor: pointer;
  background-color: #AC6ABA;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  outline: none;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.botonBuscarFecha:hover,
.botonBuscarFecha:focus {
  background-color: #F082AC;
}

.botonBuscar{
  width: 3vw;
  height: 3vh;
  border: none;
  margin: 1vh 1vw 0vh 0vw;
  cursor: pointer;
   background-color: #AC6ABA;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 35px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .botonBuscar:hover,
  .botonBuscar:focus {
    background-color: #F082AC;
  }
 
 



/********************Slider****************/

.container{
  width: 80%;
  height: auto;
  padding: 15px;
  border-radius: 20px;
      -webkit-user-select: none;
      -moz-user-select: none;
       -ms-user-select: none;
        user-select: none;
  overflow-y: hidden;
  display: flex;
   flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-left: 0px;
  margin-right: 2px;
  background: #AC6AB4;
  color: #FFFFFF;
}

/********************Productos****************/

.contenedorProductos{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 3vh 0vw 4vh 0vw;
  width: 75%;
}
.tituloProductos{
  width: 100%;
  padding: 10px;
  background-color: white;
  color: #4867DB;
  border-radius: 5px;
  font-size: 2.5vw;
  text-align: center;
}
.card{
  width: 20vw;
  height: auto;
  padding: 5px;
  background-color: #AC6AB4;
  color:black;
  box-shadow: (8px 8px 8px 10px) black;
  margin-top: 2vw;
  border-color: #0056b3;
  border-width: 0.3vh;
  transition: transform 0.3s ease;
  display: flex;
  
}
.card:hover {
  transform: scale(1.05); 
}

.tituloProducto  {
  margin-top: 5px;
  color: white;
  text-align: center;
  font-weight: 700;
}
.DescriptionProduct{
  color: white;
  text-align: center;
}

.imageProduct{
  width: 90%;
  height: 25vh;
  margin-left: 1vw;
  border-radius: 1vh;
}

a{
  text-decoration: none;
}

/***********************************Detail****************************************/
.detalleProducto{
  margin: 0;
  padding: 15vh 0vw 0vh 0vw;
}
.botonRegresar{
  margin: 2vh 0vw 0vh 80vw;
  width: 8vw;
  height: 5vh;
  background-color:#4867DB;
  border-radius: 5px;
  border: none;
  color: #FFFFFF;
  font-size: 1vw;
}
.botonRegresar:hover{
  background-color: gray;
  color: black  ;

}
.tituloDetail{
  width: 50vw;
  margin: 0vh 0vw 0vh 25vw;
  color:#4867DB;
  font-weight: bold ;
  text-align: center;
  font-size: 8vh;
}
.contenedorImagenesDetail{
  margin: 0vh 0vw 0vh 10vw;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  height: 60vh;
}
.imagen1Producto{
  width: 50%;
  height: 100%;
  padding: 5px;
}
.imagen1Producto:hover{
  padding: 9px;
}
.contenedor4imagenes{
  width: 50%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 3px;
}
.imagen2Producto,.imagen3Producto,.imagen4Producto,.imagen5Producto{
  width: 50%;
  height: 50%;
  padding: 3px;
}
.imagen5Producto:hover{
  padding: 9px;
}
.imagen2Producto:hover{
  padding: 9px;
}
.imagen3Producto:hover{
  padding: 9px;
}
.imagen4Producto:hover{
  padding: 9px;
}

.bx.bx-calendar-event{
  font-size: 3.7vh;
  margin: 1.5vh 0.5vw 0vh 0vw;
}

.verMas{
  width: 8vw;
  height: 5vh;
  background-color:#4867DB;
  margin: 2.2vh 0vw 0vh 62vw;
  border-radius: 5px;
  border: none;
  color: #FFFFFF;
  font-size: 1vw;
}
.verMas:hover{
  background-color: gray;
  color: black  ;
}
.calendarioCalificaciones{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 87%;

}


.contenedorDetalles{
  width: 50vw;
  display: flex;
  flex-direction: column;
  margin: 2vh 0vw 0vh 10vw;
  
}

.tituloDetallesDeProducto{
  background-color:#4867DB;
  text-align: center;
  font-size: 1.9vw;
  color: #FFFFFF;
}
.tituloDetallesDeProducto:hover{
  background-color: #FFFFFF;
  color: #AC6ABA;
  font-weight: 900;
}
.categoriaProducto{
  width: 18vw;
  color: black;
  font-size: 1.5vw;
  margin: 1vh 0vw 0vh 2vw;
}

.descripcionProducto,.precioProducto{
  color: black;
  font-size: 1.5vw;
  margin: 1vh 0vw 0vh 2vw;
}

.contenedorComprar{
  width: 50vw;
  height: 15vh;
  margin: 2vh 0vw 0vh 12vw;
  display: flex;
  justify-content: space-between;
  padding: 0vh 0vw 0vh 0vw;
  border-radius: 8px;

}

.contenedorDatePicker{
  width: 39vw;
  height: 10vh;
  margin: 0vh 0.5vw 0vh 0vw;
  display: flex;
  border-radius: 8px;
  
}

.botonComprar{
  width: 8vw;
  height: 5vh;
  background-color:#4867DB;
  border-radius: 5px;
  border: none;
  color: #FFFFFF;
  font-size: 1vw;
  margin: 0.70vh 0vw 0vh 0vw;
}
.botonComprar:hover{
  background-color: #AC6ABA;
  color: black  ;
}
.contenedorMostrarCaracteristicas{
  width: 50vw;
  height: 24vh;
  display: flex;
  margin: -4vh 0vw 0vh 10vw;
  flex-wrap: wrap;
  color: #FFFFFF;
  background-color:#6269d3;
  justify-content: space-around;
}
.tituloMostarCaracteristicas{
  width: 100%;
  text-align: center;
  margin: 2vh 0vw 3vh 0vw;
}

 /* ESTE ES EL CONTENEDOR DE LOS CALENDARIOS  */


.contenedorFechasDetail{
  height: 5vh;
    margin: 0.5vh 7vw 0vh 8vw;
    display: flex;
    justify-content: space-between;
}

.calendarioInicioDetail{
  width: 25vh;
  height: 33px;
  margin: 8px 0.5vw 0vh 0vw;
  display: flex;
  border-radius: 8px;
  font-size: 2.1vh
}

.calendarioFinalizacionDetail{
  width: 25vh;
  height: 33px;
  margin: 8px 0.3vw 0vh 0vw;
  display: flex;
  border-radius: 8px;
}


.botonBuscarFechaDetail{
  width: 5vw;
  height: 3.5vh;
  border: 2px solid black; /* Agregar borde negro de 2px */
  border-radius: 10px;
  margin: 0vh 0vw 0vh 0vw;
  cursor: pointer;
  background-color: #AC6ABA;
  box-sizing: border-box;
  color: #070000;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  outline: none;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.caracteristicas{
  display: flex;
  margin: 1vh 0vw 0vh 0vw;
  width: 100%;
  justify-content: space-around;
}

.comparteRedes{
  display: flex;
  margin: 1vh 0vw 2vh 0vw;
  

}

 /* FAVORITOS DENTRO DE DETAIL  */

 .contenedorFavorito {
  display: inline-block;
  position: relative;
  align-items: center;
  justify-content: center;
  left: 10vw;
  padding: 4px;

}

.bx-heart {
  color: black;
  font-size: 40px;
  cursor: pointer;
}

.bx-heart:hover {
  color: red;
  font-size: 40px;
  cursor: pointer;
}

.bx.bxs-heart {
  color: red;
  font-size: 40px;
  cursor: pointer;
}

/************Politicas******************/


.espacePoliticas{
  color: #FFFFFF;
}

.politicasTitle{
  width: 100%;
  margin-top: 15vh;
  text-align: center;
  color:#6269d3;
  text-decoration: underline;
}

.politicas{
  display: flex;
  margin: 1vh 5vh 2vh 5vh;
  
}
.politica{
  justify-content: center;
  text-align: left;
  margin: 10vh 14vh 8vh 10px;
  list-style-type: none;
}



/************Formulario crear cuenta******************/

.pageFormCrearcuenta{
  height: 100%;
  padding: 20vh 0vw 10vh 0vw;
}

.formRegister{
  font-family: "Arial";
    margin-bottom: 10px;
    margin-left: 35%;
    margin-top: 10px;
    padding: 15px;
    border-radius: 15px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    overflow-y: hidden;
    display:inline-flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #dde5f4;
    
    width: 30%;
    height: 30%;
    box-shadow: 5px 5px 15px black;
}
.titleFormLoguin{
  font-size: 2vw;
}
.bannerRegister{
  width: 100%;
    height: auto;
    padding:0px ;
    border-radius: 5px;
}

.etiquetaUserName,.etiquetaPassword,.etiquetaName,.etiquetaApellido,.etiquetaEmail{
  background: #f1f7fe;
  margin: auto;
  margin-top: 1rem;
  width: 100%;
  padding: 1.3rem;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0;
  gap: 1rem;
}
.inputUserName,.inputPassword,.inputNameRegister,.inputApellido,.inputEmail{
  align-content: end;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
.crearCuenta{
  padding: 10px;
    width: 10rem;
    margin: auto;
    margin-top: 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.crearCuenta:hover{
  background-color: #0056b3;
}

/************Formulario Login******************/

.pageFormLogin{
  width: 100%;
  height: 100%;
  padding: 20vh 0vw 10vh 0vw;
}
.formLogin{
  font-family: "Arial";
    margin-bottom: 10px;
    margin-left: 35%;
    margin-top: 10px;
    padding: 15px;
    border-radius: 15px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    overflow-y: hidden;
    display:inline-flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #dde5f4;
    
    width: 30%;
    height: 30%;
    box-shadow: 5px 5px 15px black;
}
.banner{
  width: 100%;
    height: auto;
    padding:0px ;
    border-radius: 5px;
}
.logoLoguin{
  margin-top: -3em;
}


.titleFormLogin{
  text-align: center;
  margin-bottom: 20px;
}
.etiquetaUserNameLogin,.etiquetaPasswordLogin{
  background: #f1f7fe;
    margin: auto;
    margin-top: 1rem;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0;
    gap: 1rem;
}
.inputUserNameLogin,.inputPasswordLogin{
  align-content: end;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
.botonLogin{
  padding: 10px;
    width: 10rem;
    margin: auto;
    margin-top: 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.botonLogin:hover{
  background-color: #0056b3;

}

.footerLoguin{
  display: flex;
    padding: 7px;
    margin-top: 0.5rem;
    font-size: 0.7em;
    color: #5e5e5e;
    gap: 1em;
}

.footerLoguin span{
  cursor: pointer;
}






/***********************************Pagina-administrador****************************************/
.pageAdmin{
  width: 100%;
  background-image: url('/src/Images/24.jpg')
}
.panel{
  width: 80%;
  margin: 0vh 0vw 0vh 10vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.vacio{
  height: 60vh;
}
.agregarProducto,.ListarProductos,.ListarCategorias,.actualizarProducto{
  width: 15%;
  height: auto;
  margin: 20vh 0vw 0vh 0vw;
  background-color:#6269d3;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  font-size: 1vw;
}
.agregarProducto:hover,
.ListarProductos:hover,
.ListarCategorias:hover,
.actualizarProducto:hover{
  color: rgba(0, 0, 0, 0.692);
  width: 16%;
  height: auto;
  background-color: #FFFFFF;
}

/***********************************Formulario****************************************/

.tituloFormulario{
  width: 100%;
  padding: 8px;
  font-size: 2vw;
  text-align: center;
  margin: 4vh 0vw 1vh 0vw;
  color:#6269d3;
  font-weight: bold;
}

.formularioAddProducto{
  font-family: "Arial";
  margin-bottom: 0;
  margin-left: 13%;
  margin-top: -25%;
  border-radius: 15px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  flex-wrap: wrap;
  background: #dde5f4;
  width: 75%;
  height: auto;
  box-shadow: 5px 5px 15px black;
}

.inputCategoria, .inputName,.inputPrecio,.inputTipo,.inputConsola,.inputImage1,.inputImage2,.inputImage3,.inputImage4,.inputImage5,.inputCaracteristicaAdd{
  background: #f1f7fe;
    margin-top: 1rem;
    margin-left: 10px;
    margin-bottom: 1rem;
    width: 30%;
    display: inline-flex;
    padding: 0.4rem;   
    border-radius: 20px;
    border: none;
}

.inputDescripcion{
  background: #f1f7fe;
  margin: 1rem 15vw 2vh 15vh;  
    width: 80%;
    padding: 0.4rem;
    border-radius: 20px;
    box-shadow: 0;
    border: none;
}
.contenedorCaracteristicaCheckbox{
  flex-direction:column ;
  width: 80%;
  height: auto;
  margin-bottom: 2vh;
  margin: 1rem 0vw 2vh 15vh;  
  padding-bottom: 1vh;
  border-radius: 15px;
  background-color:#f1f7fe;
  flex-wrap: wrap;

}
.tituloCheckbox{
  width: 100%;  
  text-align: center;
  font-size: 2vw;
  font-weight: 500;
  margin: 2vh 0vw 0vh 0vw;  
}
.contenedorCheckbox{
  display: wrap;  
  margin-left: 30%;
  width: 100% ;
  justify-content:center;
  align-items: center;
}
.inputCheckbox{
  width: 5vw;
  height: 3vh;
  margin: 0.5vh 0vw 0vh 0vw;
}
.nombreCaracteristica{
  margin: 0vh 0vw 0vh 0vw;
  font-size: 1.25vw;
}

.guardarProducto{
  padding: 8px;
    width: 10rem;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 70vh;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.guardarProducto:hover{
  background-color: #0056b3;
}

.textFalla,.textExito{
  color:#6269d3;
  width: 25vw;
  height: 55vh;
  bottom:6vh;
} 
.textExito{
  height: 65vh;
}
.textFallaServer{
  color:#6269d3;
  width: 25vw;
  height: 57vh;
  bottom:6vh;
}
/***********************************Listar-Producto-Administrador****************************************/
.listaAdmin{
  margin: -55vh 0vw -37vh 0vw;
}
.titleListProducts{
  color:#4867DB;
  font-weight: 600;
  width: 25vw;
  margin: 3vh 0vw 0vh 39vw;
  font-size: 1.8vw;
  text-align: center;
  background-color: #FFFFFF;
  
}
.contenedorListaProductos{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  margin: 10vh 0vw 37vh 10vw;
  padding: 0vh 0vw 0vh 0vw;
  background-color: #FFFFFF;
  border-radius: 5px;
}

.contenedorProductosAdmin{
  width: 70vw;
    height: 10vh;
    display: flex;
    margin: 4vh 0vw 4vh 0vw;
    background-color:#6269d3;
    border-radius: 5px;

}
.listId,.listName,.listCategoria,.listTipo{
  width: 15vw;
  height: 4vh;
  margin: 3.5vh 0vw 0vh 1vw;
  text-align: center;
  color: #FFFFFF;
  font-size: 1.1vw;
  line-height: 1vw;
}
.imageProductListAdmin{
  width: 6vw;
  height: 6vh;
  margin: 2vh 0vw 0vh 2vw;
}
.botonEditar,.botonEliminar{
  width: 4vw;
  height: 6vh;
  margin: 2vh 2vw 0vh 2vw;
  border: none;
  border-radius: 5px;
}

/***********************************Editar-Producto-Administrador****************************************/

/************Caracteristicas del producto******************/


.botonAtrasEditar{
  margin: 25vh 0vw 0vh 80vw;
  width: 8vw;
  height: 5vh;
  background-color:#4867DB;
  border-radius: 5px;
  border: none;
  color: #FFFFFF;
  font-size: 1vw;
}
.botonAtrasEditar:hover{
  background-color: gray;
  color: black  ;

}
.contenedorEditar{
  width: 40%;
  margin: 0vh 0vw 3vh 2vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.idEditar,.nameEditar,.typeEditar,.categoriaEditar,.descripcionEditar,.precioEditar,.consolaEditar,.idImagen,.urlImagen,.idProductoImagen,.idCarateristica,.nameCaracteristica,.descripcionCaracteristica{
  color:#0e41f7;
  font-size: 1.2vw;
}
.contenedorEditar span{
  color:rgba(0, 0, 0, 0.705);
}


/************Formulario actualizar producto******************/

.pageEditar{
  width: 100%;
  margin-bottom: 30px;
  flex-wrap: wrap;

}

.inputDescripcion{
  background: #f1f7fe;
  margin: 1rem 15vw 1vh 15vh;  
    width: 80%;
    padding: 0.4rem;
    border-radius: 20px;
    box-shadow: 0;
    border: none;
}

.formularioActualizarProducto{
  font-family: "Arial";
  margin-bottom: 0;
  margin-left: 10%;
  margin-top: 5%;
  border-radius: 15px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  
  flex-direction: row;
  background: #dde5f4;
  width: 80%;
  height: auto;
  box-shadow: 5px 5px 15px black;
  justify-content: center;
}

.inputActualizar,.inputActualizarDescripcion,.inputCaracteristica .inputCategoriaEdit{
  background: #FFFFFF;
    margin-top: 1rem;
    margin-left: 10px;
    margin-bottom: 1rem;
    width: 60%;
    display: inline-flex;
    padding: 0.4rem;   
    border-radius: 20px;
    border: none; 
}

.inputActualizarDescripcion{
  padding: 10px;
  position: relative;
  
}

.inputActualizarDescripcion{  
  width: 80%;
  height: auto;
  margin: 0vh 0vw 0vh 0vw;
  font-size: 15pxh;
  display: inline-flex;
}

.botonActualizar{
  padding: 8px;
    width: 10rem;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 70vh;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.botonActualizar:hover{
  background-color: #0056b3;
}



/**********************************Panel Categorias y caracteristicas***********************************************/
.panelCategorias, .panelCaracteristicas{
  padding: 20vh;    
  min-height: 84vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0vh 9vw 0vh 0vw;

}
.tituloCategoriasAdmin,.tituloCaracteristicasAdmin{
  margin: 2vh 0vw 0vh 0vw;
  color: #4867DB;
}
.botonRegresarPageAdmin{
  margin: 1vh 0vw 0vh 77vw;
  width: 8vw;
  height: 5vh;
  background-color:#4867DB;
  border-radius: 5px;
  border: none;
  color: #FFFFFF;
  font-size: 1vw;
}
.botonRegresarPageAdmin:hover{
  background-color: #FFFFFF;
  color: black  ;
  width: 9vw;
}
.btn-primary{
  background-color:#4867DB;
  border: none;
}
.btn-primary:hover{
  background-color:#FFFFFF;
  color: rgba(0, 0, 0, 0.733);
}
/********************************Panel de Usuario********************************/
.panelUsuarios{
  height: 84vh;
  padding-top: 20vh;  
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0vh 9vw 0vh 0vw;
  
}

/** Card del Navbar**/
.panelDetallesDeUsuario{  
  width: 100%;
  height: auto;
  padding-top: 18vh;
  margin-bottom: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detallesDeUsuario{
  background-color:#D9D9D9;
  padding: 20px;
  width: 25%;
  margin-top: 10px;
  border-radius: 5px;
}
.avatarUser{
  margin-bottom: 10px;
 
}
/****************** Estilos agregados por Gatu ************************************************/

.cardTop{
  display: flex;
  justify-content: space-between;
}

.cardBottom{
  display: flex;
  justify-content: space-between;
  align-items: center;  
  color:#D9D9D9
}

.cardVotos{
  font-size: 1.5rem;
}

/****************************Calificaciones***************************************/
.contenedorReservas {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative; /* Agregado */
  cursor: pointer;
}
.contenedorReservas .contenedorProductosAdmin{
  margin-bottom: 0px;
}
.productoACalificar {
  background-color: #ccc;
  min-width: 95%;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  overflow: hidden; /* Ocultar el contenido que se desborda */
  max-height: 0px; /* Altura máxima */
  transition: 0.5s ease-in-out; /* Transición de altura */
}

.invisible {
  max-height: 0; /* Ocultar el contenido */
}

.visible {
  max-height: 500px; /* Ajustado */
}


.productosClasificar{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-top: 1px dashed grey;

}
.msjsCalificar{
  display: flex;
  width: 40vw;
  justify-content: space-between;
  align-items: center;
}
.msjsCalificar p{
  margin: 0px;
}
.calificarColumna1{
  display: flex;
  width: 30%;  
  justify-content: space-between;
}

.inputCalificacion{
  width: 35vw;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
}


/****************************************MEDIA*******************************************************/

/***********************************Header****************************************/
@media(max-width:900px){
  .contenedorLogo{
    width: 32vw;
    height: 15vh;
    flex-direction: column;
    margin: 0vh 0vw 0vh 4vw;
    justify-content:space-between;
  }
  .imagenLogo{
    width: 9vw;
    height: 10vh;
    margin: 0vh 0vw -0.5vh 0vw;
  }
  .lema{
    width: 40vw;
    margin: -8vh 0vw 5vh 10vw;
    text-align:left;
    font-size: 3vw;
  }
  .botones{
    width: 10%;
    height: 5vh;
    margin: 5vh 10vw 0vh 0vw;
  }
  
  .themeLight,.themeDark{
    height: 80%;
    margin: 0.5vh 0vw 0vh 1vw;
  }
  
  /************************************Footer***********************************/
  
  .footer .row{
    padding: 3px;
    font-size: 2vh;
 }


 .roww{
  color:#D9D9D9;
  font-size: 9px;
 }
  /***********************************Home****************************************/
  
  /********************Categorias****************/

  .contenedorCategorias{
    width: 100%;
    height: 300vh;
  }
  .tituloCategorias{
    font-size: 2.9vw;
    margin-top: 3vw;
  }
  .categoriaUno, .categoriaDos,.categoriaTres,.categoriaCuatro,.categoriaCinco{   
     width: 80%;
     height: 30%;
    margin: 2vh 0vw 0vh 2.1vw;
  }

  .tituloCategoriaUno,.tituloCategoriaDos,.tituloCategoriaTres,.tituloCategoriaCuatro,.tituloCategoriaCinco{
    font-size: 2.5vw;
  }
  .img1CategoriaUno,.img2CategoriaUno,.img1CategoriaDos,.img2CategoriaDos,.img1CategoriaTres,.img2CategoriaTres,.img1CategoriaCuatro,.img2CategoriaCuatro,.img1CategoriaCinco,.img2CategoriaCinco{
    width: 100%;
    height: 15vh;
    margin: 1vh 0vw 0vh 0vw;
  }
  .img1CategoriaUno:hover,
.img2CategoriaUno:hover,
.img1CategoriaDos:hover,
.img2CategoriaDos:hover,
.img1CategoriaTres:hover,
.img2CategoriaTres:hover {
  width: 18vw;
  height: 11vh;
}

/********************Buscador****************/
.contenedorDos{
  width: 85%;
  margin: 10vh 0vw 0vh 2vw;
}

.barraBuscador{
  width: 80%;
  height: 70px;
  
}


.formularioBuscador{
  width: 30%;
}
.inputSearch{
  width: 11vw;
  font-size: 1vw;
  margin: 0vh 0vw 0vh 2vw;
}
.botonBuscar{ 
  margin: 0vh 4vw 0vh 0vw;
}
.bx-search-alt{
  font-size: 2vw;
  margin: -1.2vh;
}

.inputSearchBuscador{
  width: 11vw;
  font-size: 1vw;
  margin: 3.5vh 0vw 0vh -2.5vw;
}

.calendarioInicio{
  width: 70px;
  font-size: 9px;
}
.calendarioFinalizacion{
  width: 70px;
  font-size: 9px;
}

.botonBuscarFecha{
  font-size: 9px;
}


/********************Carrusel****************/

.container{
  width: 100%;
  height: 70vh;
  margin: 4vh 0.5vw 0vh 0vw;
}

.carousel{
  width: 100vh;
  height: 50vh;
}


/********************Productos****************/

.contenedorProductos{
  margin: 0vh 0vw 4vh 0vw;
  width: 100%;
}
.tituloProductos{
  font-size: 4vw;
  margin: 6vh 0vw 0vh 0vw;
}
.card{
  width: 35%;
  height: 23%;
}
.imageProduct{
  width: 90%;
  height: 15vh;
}
.DescriptionProduct{
  height: 5vh;
  text-align: center;
  font-size: 1.2vw;
  margin: 1vh 0vw 0vh 0vw;
}
a{
  text-decoration: none;
}

/***********************************Detail****************************************/

.contenedorImagenesDetail{
  margin: 3vh 0vw 0vh 12vw;
  width: 80vw;
}
.botonRegresar{
  width: 9vw;
  font-size: 1.5vw;
}
.verMas{
  width: 9vw;
  margin: 3vh 0vw 0vh 85vw;
  font-size: 1.5vw;
}
.tituloDetallesDeProducto{
  background-color:#4867DB;
  text-align: center;
  font-size: 2.5vw;
  color: #FFFFFF;
}
.categoriaProducto,.descripcionProducto,.precioProducto{
font-size: 2vw;
}
.contenedorComprar{
width: 20vw;
height: 25vh;
margin: 2vh 0vw 0vh 12vw;
}
.botonComprar{
width: 9vw;
font-size: 1.5vw;
}

.contenedorMostrarCaracteristicas{
  height: 30vh;
}

/************Formulario crear cuenta******************/

.formRegister{
  width: 50%;
  margin: 6vh 0vw 5vh 30vw;
}
.titleFormRegister{
  margin: 1vh 0vw 0vh 12vw;
  font-size: 2.5vw;
}
.etiquetaUserName,.etiquetaPassword,.etiquetaName,.etiquetaApellido,.etiquetaEmail{
  width: 90%;
  padding: 10px;
  margin: 1vh 0vw 0vh 0vw;
  font-size: 12px;
}
.inputUserName,.inputPassword,.inputNameRegister,.inputApellido,.inputEmail{
  width: 100%;
  padding: 5px;
  font-size: 12px;
}
.crearCuenta{
  width: 30%;
  height: auto;
  font-size: 10px;
  
}
.crearCuenta:hover{
  width: 21vw;
}

/************Formulario Login******************/

.formLogin{
  width: 50%;
  margin: 6vh 0vw 5vh 30vw;
}

.etiquetaUserNameLogin, .etiquetaPasswordLogin{
  width: 90%;
  padding: 10px;
  margin: 1vh 0vw 0vh 0vw;
  font-size: 12px;
}
.inputUserNameLogin,.inputPasswordLogin{
  width: 100%;
  padding: 5px;
  font-size: 12px;
}
.botonLogin{
  width: 30%;
  height: auto;
  font-size: 10px;
}
.botonLogin:hover{
  width: 16vw;

}



/***********************************Pagina-administrador****************************************/

/********Agregar Producto Responsive******/
  .vacio{
    height: 45vh;
  }
  .agregarProducto,.ListarProductos,.ListarCategorias,.actualizarProducto{
    justify-content: center;
    font-size: 1.5vw;
    
  }
  .inputCategoria, .inputName,.inputPrecio,.inputTipo,.inputConsola,.inputImage1,.inputImage2,.inputImage3,.inputImage4,.inputImage5,.inputCaracteristicaAdd{
    font-size: 10px;   
  }
  .inputDescripcion{
    margin-top: 1vh;
    font-size: 10px;
  }

  .guardarProducto{
    margin-left: 38%;
    font-size: 12px;
    padding: 5px;
  }

/********Listar Producto Responsive******/
.listaAdmin{
  margin: -35vh 0vw -37vh 0vw;
}
.botonActualizar{
  margin-left: 38%;
    font-size: 12px;
    padding: 5px;
}






}

/************************************************************Mobile****************************************/

/***********************************Header****************************************/

@media(max-width:500px){

  .Header{
    width: 68%;
    height: 16vh;
    margin: 0vh 0vw 0vh 0vw;
  }

  .contenedorLogo {
    width: 32vw;
    height: 15vh;
    flex-direction: column;
    margin: 0vh 0vw 0vh 4vw;
    justify-content: space-between;
}

  .imagenLogo{
    width: 30vw;
    height: 8vh;
    margin: 0vh 0vw 0vh 1vw;
  }
  .lema{
    width: 52vw;
    margin: 0vh 0vw 1vh -1vw;
    text-align: center;
    font-size: 4vw;
  }
  .crear-cuenta,.iniciar-sesion{
    font-size: 3vw;
    width: 25vw;
    margin: 0.5vh 0vw 0vh 2vw;
  }

  /************************************Footer***********************************/
  .circuloFooter{
    width: 17px;
    height: 15px;
    font-size: 1.5vw;
    margin: 3vh 0vw 0vh 0vw;
    padding: 0.2vh 0vw 0vh 0vw;
  }
  
  .mensajeFooter{
    width: 20vw; 
    font-size: 3vw;
    margin: 2.9vh 0vw 0vh 2vw;
  }
  .navegacionFooter{
    height: 5vh;
  }
  .bx.bxl-facebook-circle,.bxl-whatsapp,.bxl-instagram,.bxl-twitter {
    margin: 1vh 2vw 0vh 0vw;
  }

/************************************Home***********************************/ 

 /********************Categorias****************/

 .contenedorCategorias{
  width: 35vw;
}

.categoriaUno, .categoriaDos,.categoriaTres,.categoriaCuatro,.categoriaCinco{   
  width: 32vw;
  margin: 4vh 0vw 0vh 1.5vw;
}

.img1CategoriaUno,.img2CategoriaUno,.img1CategoriaDos,.img2CategoriaDos,.img1CategoriaTres,.img2CategoriaTres,.img1CategoriaCuatro,.img2CategoriaCuatro,.img1CategoriaCinco,.img2CategoriaCinco{
  width: 30vw;
  height: 18vh;
  margin: 2vh 0vw 0vh 0vw;
}



/********************Buscador****************/
.contenedorDos{
  width: 60%;
  margin: 0vh 0vw 0vh 2vw;
}
.formularioBuscador{
  width: 55vw;
  height: 4vh;
  margin: 20vh 0vw 0vh 0vw;
}
.inputSearch{
  width: 40vw;
  height: 3vh;
  font-size: 3.5vw;
  margin: 0.5vh 0vw 0vh 5vw;
}
.botonBuscar{
  width: 5vw;
  height: 3vh;
  margin: 0.7vh 3vw 0vh 0vw;
}
.bx-search-alt{
  font-size: 5vw;
}

/********************Carrusel****************/

.contenedorCarrusel{
  width: 50vw;
  height: 50vw;
  margin: 4vh 0vw 0vh 0vw;
}
.tituloCarrusel{
  font-size: 4vw;
  margin: 0vh 0vw 0vh 12vw;
  color: #FFFFFF;
}



/********************Productos****************/

.contenedorProductos{
  width: 60vw;
  margin: 0vh 0vw 4vh 0vw;
}
.tituloProductos{
  font-size: 4vw;
  margin: 4vh 0vw 0vh 0vw;
}
.card{
  width: 40vw;
  height: 37vh;
  margin: 4vh 0vw 0vh 0vw;
}
.imageProduct{
  width: 36vw;
  height: 16vh;
}
.DescriptionProduct{
  height: 5vh;
  text-align: center;
  font-size: 2vw;
  margin: 1vh 0vw 0vh 0vw;
}
a{
  text-decoration: none;
}

/***********************************Detail****************************************/

.botonRegresar{
  width: 15vw;
  font-size: 2.5vw;
  margin: 2vh 0vw 0vh 80vw;
}
.contenedorImagenesDetail{
  margin: 3vh 0vw 0vh 5vw;
  width: 90vw;
}

.imagen1Producto{
  width: 100%;
}
.contenedor4imagenes{
  width: 100%;
}
.imagen2Producto,.imagen3Producto,.imagen4Producto,.imagen5Producto{
    width: 50%;
}
.verMas{
  width: 15vw;
  margin: 54vh 0vw 0vh 80vw;
  font-size: 2.5vw;
}
.tituloDetallesDeProducto{
  font-size: 3vw;
}
.categoriaProducto,.descripcionProducto,.precioProducto{
font-size: 3vw;
}
.contenedorComprar{
width: 50vw;
height: 25vh;
margin: 2vh 0vw 0vh 12vw;
}
.botonComprar{
width: 15vw;
font-size: 2.5vw;
}

/************Formulario crear cuenta******************/

.formRegister{
  width: 70vw;
  margin: 7vh 0vw 5vh 15vw;
}
.titleFormRegister{
  margin: 2vh 0vw 0vh 22vw;
  font-size: 4vw;
}
.etiquetaUserName,.etiquetaPassword,.etiquetaName,.etiquetaApellido,.etiquetaEmail{
  margin: 1vh 0vw 1vh 11vw;
}
.inputUserName,.inputPassword,.inputNameRegister,.inputApellido,.inputEmail{
  width: 50vw;
  margin: 0vh 0vw 0vh 11vw;
}
.crearCuenta{
  width: 30vw;
  margin: 2vh 0vw 2vh 20vw;
}
.crearCuenta:hover{
  width: 31vw;
}

/************Formulario Login******************/

.formLogin{
  width: 80vw;
  margin: 10vh 0vw 10vh 10vw;
}
.titleFormLogin{
  margin: 2vh 0vw 0vh 0vw;
  font-size: 5vw;
}

.inputUserNameLogin,.inputPasswordLogin{
  width: 40vw;
  margin: 0vh 0vw 0vh 0vw;
}
.botonLogin{
  width: 20vw;
  margin: 3vh 0vw 2vh 0vw;
  font-size: 4vw;
}
.botonLogin:hover{
  width: 21vw;

}



/***********************************Pagina-administrador****************************************/

.pageAdmin{
  display: none;
}

}
