*{
  margin: 0;
  font-family:cursive;
}
.dark{
  background-color: #12121296;
  color: white;
}
.light{
  background-color: #AC6ABA;
}
/************************************Desktop***********************************/

/************************************Header***********************************/
.Header{
  width: 100%;
  height: 16vh;
  background-color: #6269d3;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 1000;
  margin: 0vh 0vw 0vh 0vw;
}
.contenedorLogo{
  width: 38vw;
  height: 10vh;
  display: flex;
  margin: 0vh 0vw 0vh 4vw;
}
.imagenLogo{
  width: 13vw;
  height: 13vh;
}
.imagenLogo:hover{
  width: 13.5vw;
  height: 13.5vh;
}
.lema{
  margin: 6vh 0vw 0vh 0vw;
 color: #FFFFFF;
 font-weight: 500;
 font-size: 1.5vw;
}
.botones{
  display: flex;
  justify-content: space-around;
  width: 30vw;
  height: 5vh;
  margin: 5.5vh 5vw 0vh 0vw;
}
.crear-cuenta,.iniciar-sesion{
  width: 10vw;
  height: 5vh;
  background-color: #AC6ABA;
  border-radius: 5px;
  border: none;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 1vw;

}
.crear-cuenta:hover{
  background-color: #FFFFFF;
  color: black;
}
.iniciar-sesion:hover{
  background-color: #FFFFFF;
  color: black;
}
.themeLight,.themeDark{
  width: 40px;
  height: 95%;
  border: none;
  background-color:transparent;
  border-radius: 5px;
}
.themeLight:hover,
.themeDark:hover{
  background-color: #FFFFFF;
}

.contenedorAvatar{
  width: 5vw;
  height: 9vh;
  margin: 3vh 0vw 0vh 17vw;
  border-radius: 5vw;
  background-color: #AC6ABA;
}
.imageAvatar{
  width: 3vw;
  height: 5vh;
  margin: 1vh 0vw 0vh 0.9vw;
  border-radius: 60%;

}
.nombreAvatar{
  color: #FFFFFF;
  font-size: 1vw;
  margin: 0vh 0vw 3vh 1.8vw;

}
.userInfo{
  width: 14vw;
  height: 10vh;
  background-color:#AC6ABA;
  text-align: center;
  display: none;
  color: #FFFFFF;
  margin: -12vh 0vw 0vh -15vw; /* Ajusta el margen según tus necesidades */
  padding: 1vh 1vw; /* Ajusta el padding según tus necesidades */
}
.contenedorAvatar:hover .userInfo {
  display: flex;
  flex-direction: column;
}

/************************************Footer***********************************/
.piePagina{
  width: 100%;
  height: 16vh;
  background-color:#6269d3;
  display: flex;
  justify-content: space-around;
  margin: 0vh 0vw 0vh 0vw;

}
.derechos{
  width: 15vw;
  height: 8vh;
  display: flex;
  justify-content: space-around;
  margin: 5vh 0vw 0vh 20vw;
}
.circuloFooter{
  width: 30px;
  height: 30px;
  font-size: 15px;
  font-weight: 900;
  margin: 2vh 0vw 0vh 0vw;
  padding: 0.4vh 0vw 0vh 0vw;
  text-align: center;
  border-radius: 10vw;
  border: solid 2px;
}
.mensajeFooter{
  margin: 2.5vh 0vw 0vh 0vw;
  font-size: 1.5vw;
}
.navegacionFooter{
  width: 25vw;
  height: 8vh;
  margin: 6vh 15vw 0vh 0vw;
}
.bx.bxl-facebook-circle,.bxl-whatsapp,.bxl-instagram,.bxl-twitter {
  font-size: 3.5vw; 
  margin: 0vh 2vw 0vh 0vw;
 
}

/***********************************Home****************************************/

/********************Categorias****************/
.home{
  display: flex;
  flex-wrap: wrap;
}
.contenedorCategorias{
  background-color: #4867DB;
  display: flex;
  flex-direction: column;
  width: 15vw;
  margin: 15vh 0vw 0vh 0vw;
}
.tituloCategorias{
  font-size: 2vw;
  text-align: center;
  margin: 3vh 0vw 0vh 0vw;
  font-weight: 600;
}
.categoriaUno, .categoriaDos,.categoriaTres,.categoriaCuatro,.categoriaCinco{
  display: flex;
  flex-direction: column;
  width: 13vw;
  align-items: center;
  margin: 5vh 0vw 0vh 1vw;
}
.tituloCategoriaUno,.tituloCategoriaDos,.tituloCategoriaTres,.tituloCategoriaCuatro,.tituloCategoriaCinco{
  margin: 0vh 0vw 0vh 0vw;
  color: #FFFFFF;
  font-size: 1.2vw;
}
.tituloCategoriaUno:hover,
.tituloCategoriaDos:hover,
.tituloCategoriaTres:hover,
.tituloCategoriaCuatro:hover,
.tituloCategoriaCinco:hover{
  font-size: 1.6vw;
}



.img1CategoriaUno,.img2CategoriaUno,.img1CategoriaDos,.img2CategoriaDos,.img1CategoriaTres,.img2CategoriaTres,.img1CategoriaCuatro,.img2CategoriaCuatro,.img1CategoriaCinco,.img2CategoriaCinco{
  width: 13vw;
  height: 17vh;
  margin: 3vh 0vw 2vh 0vw;
}
.img1CategoriaUno:hover,
.img2CategoriaUno:hover,
.img1CategoriaDos:hover,
.img2CategoriaDos:hover,
.img1CategoriaTres:hover,
.img2CategoriaTres:hover,
.img1CategoriaCuatro:hover,
.img2CategoriaCuatro:hover,
.img1CategoriaCinco:hover,
.img2CategoriaCinco:hover {
  width: 14vw;
}
/********************Buscador****************/

.contenedorDos{
  width: 80%;
  margin: 0vh 0vw 0vh 2.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formularioBuscador{
  height: 5vh;
  margin: 20vh 0vw 0vh 0vw;
  background-color: #D9D9D9;
  display: flex;
  justify-content: space-between;
  border-radius: 5vw;
}
.inputSearch{
  width: 15vw;
  height: 3vh;
  text-align: center;
  border: none;
  font-size: 1.2vw;
  margin: 1vh 0vw 0vh 3vw;
  background-color: #D9D9D9;
}
.inputSearch:focus{
  outline: none;
}
.botonBuscar{
  width: 3vw;
  height: 3vh;
  border: none;
  margin: 1vh 1vw 0vh 0vw;
  cursor: pointer;
  background-color: #D9D9D9;
}


/********************Carrusel****************/

.contenedorCarrusel{
  width: 32vw;
  height: 40vh;
  background-color: #6269d3;
  border-radius: 10px;
  margin: 6vh 0vw 0vh 0vw;
  /* display: flex;
  justify-content: center;
  align-items: center;
  position: sticky; */
  z-index: 0;
}
.tituloCarrusel{
  margin: 2vh 0vw 0vh 12.5vw;
  color: #FFFFFF;
}

#carouselExampleIndicators{
  width: 15vw;
  height: 20vh;
  z-index: 0;
}
.carousel-indicators{
  /* width: 50px;
  margin: 0vh 0vw -18vh 15vw; */
  display: none;
}

.carousel-inner{
  width: 28vw;
  height: 28vh;
  margin: 2.5vh 0vw 0vh 2vw;
  border-radius: 10px; 
}
.carousel-item img {
  width: 30vw;
  height: 30vh;
  border-radius: 10px; 
}
.imageCarrusel{
  width: 2vw;
}
.carousel-control-next{
  width: 9vw;
  margin: 20vh -20.5vw 0vh 0vw;
  }
.carousel-control-prev{
  margin: 20vh 0vw 0vh 0vw;
}

/********************Productos****************/

.contenedorProductos{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 3vh 0vw 4vh 0vw;
  width: 50vw;
}
.tituloProductos{
  width: 100%;
  height: 5vh;
  text-align: center;
  font-size: 2vw;
  color: #FFFFFF;
}
.card{
  width: 20vw;
  height: 35vh;
  margin: 5vh 0vw 0vh 0vw;
  background-color:#6269d3; 

}
.imageProduct{
  width: 19.8vw;
  height: 25vh;

}
.DescriptionProduct{
  height: 10vh;
  text-align: center;
  font-size: 1vw;
  color: #FFFFFF;
  background-color:#6269d3;
  margin: 1vh 0vw 0vh 0vw; 
}
a{
  text-decoration: none;
}
.botonesPaginado{
  margin: 4vh 0vw 0vh 0vw;
  width: 100%;
  display: flex;
  justify-content:center;
}
.botonPaginadoAtras,.botonPaginadoAdelante{
  width: 5vw;
  margin: 0vh 0vw 0vh 1vw;
  border-radius: 5px;
  border: none;
  background-color: #6269d3;
}


/***********************************Detail****************************************/
.detalleProducto{
  margin: 0;
  padding: 20vh 0vw 0vh 0vw;
}
.botonRegresar{
  margin: 1vh 0vw 0vh 80vw;
  width: 8vw;
  height: 5vh;
  background-color:#4867DB;
  border-radius: 5px;
  border: none;
  color: #FFFFFF;
  font-size: 1vw;
}
.botonRegresar:hover{
  background-color: #FFFFFF;
  color: black  ;
  width: 9vw;
}
.tituloDetail{
  width: 50vw;
  margin: 0vh 0vw 0vh 25vw;
  color:#0a37db;
  font-weight: bold ;
  text-align: center;
}
.contenedorImagenesDetail{
  margin: 3vh 0vw 0vh 25vw;
  display: flex;
  flex-wrap: wrap;
  width: 50vw;
  height: 50vh;
}
.imagen1Producto{
  width: 50%;
  height: 100%;
}
.contenedor4imagenes{
  width: 50%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.imagen2Producto,.imagen3Producto,.imagen4Producto,.imagen5Producto{
    width: 50%;
    height: 50%;
}
.verMas{
  width: 8vw;
  height: 5vh;
  background-color:#4867DB;
  margin: 3vh 0vw 0vh 65vw;
  border-radius: 5px;
  border: none;
  color: #FFFFFF;
  font-size: 1vw;
}
.verMas:hover{
  background-color: #FFFFFF;
  color: black  ;
  width: 9vw;
}

.contenedorDetalles{
  width: 50vw;
  display: flex;
  flex-direction: column;
  margin: 2vh 0vw 0vh 10vw;
}
.tituloDetallesDeProducto{
    background-color:#4867DB;
    text-align: center;
    font-size: 1.9vw;
    color: #FFFFFF;
}
.tituloDetallesDeProducto:hover{
  background-color: #FFFFFF;
  color: #AC6ABA;
  font-weight: 900;
}
.categoriaProducto{
  width: 18vw;
  color: #FFFFFF;
  font-size: 1.5vw;
  margin: 1vh 0vw 0vh 2vw;

}

.descripcionProducto,.precioProducto{
  color: #FFFFFF;
  font-size: 1.5vw;
  margin: 1vh 0vw 0vh 2vw;
}
.contenedorComprar{
  width: 20vw;
  height: 25vh;
  margin: 2vh 0vw 0vh 12vw;
}
.botonComprar{
  width: 8vw;
  height: 5vh;
  background-color:#4867DB;
  border-radius: 5px;
  border: none;
  color: #FFFFFF;
  font-size: 1vw;
}
.botonComprar:hover{
  background-color: #FFFFFF;
  color: black  ;
  width: 9vw;
}

.contenedorMostrarCaracteristicas{
  width: 50vw;
  height: 38vh;
  display: flex;
  margin: 2vh 0vw 0vh 10vw;
  flex-wrap: wrap;
  color: #FFFFFF;
  background-color:#6269d3;
  justify-content: space-around;

}
.tituloMostarCaracteristicas{
  width: 100%;
  text-align: center;
  margin: 2vh 0vw 3vh 0vw;
}
.nombreCaracteristicas{
  width: 20vw;
  margin: 0vh 0vw 0vh 3vw;
}


/************Formulario crear cuenta******************/

.pageFormCrearcuenta{
  height: 100%;
  padding: 20vh 0vw 10vh 0vw;
}

.formRegister{
  display: flex;
  flex-direction: column;
  width: 25vw;
  height: 60%;
  background-color:#4867DB;
  margin: 7vh 0vw 5vh 40vw;
  border-radius: 10px;
}
.titleFormRegister{
  width: 40%;
  text-align: center;
  margin: 1vh 0vw 0vh 7vw;
  font-size: 2vw;
  color: #FFFFFF;
}
.etiquetaUserName,.etiquetaPassword,.etiquetaName,.etiquetaApellido,.etiquetaEmail{
  color:#FFFFFF;
  margin: 1vh 0vw 1vh 4vw;
}
.inputUserName,.inputPassword,.inputNameRegister,.inputApellido,.inputEmail{
  width: 16vw;
  margin: 0vh 0vw 0vh 4vw;
  border-radius: 5px;
  border: none;
}
.crearCuenta{
  width: 10vw;
  height: 5vh;
  border-radius: 5px;
  border: none;
  margin: 2vh 0vw 2vh 7.5vw;
  background-color: #AC6ABA;
  color: #FFFFFF;
}
.crearCuenta:hover{
  background-color: #FFFFFF;
  color: black;
  width: 11vw;
  height: 6vh;
}

/************Formulario Login******************/

.pageFormLogin{
  height: 100%;
  padding: 20vh 0vw 10vh 0vw;
}
.formLogin{
  display: flex;
  flex-direction: column;
  width: 25vw;
  height: 70%;
  margin: 20vh 0vw 16vh 37vw;
  background-color:#4867DB;
  border-radius: 10px;
}
.titleFormLogin{
  width: 40%;
  text-align: center;
  margin: 2vh 0vw 0vh 7vw;
  font-size: 2vw;
  color: #FFFFFF;
}
.etiquetaUserNameLogin,.etiquetaPasswordLogin{
  color:#FFFFFF;
  margin: 1vh 0vw 1vh 4vw;
}
.inputUserNameLogin,.inputPasswordLogin{
  width: 16vw;
  margin: 0vh 0vw 0vh 4vw;
  border-radius: 5px;
  border: none;
}
.botonLogin{
  width: 10vw;
  height: 5vh;
  border-radius: 5px;
  border: none;
  margin: 3vh 0vw 2vh 7.5vw;
  background-color: #AC6ABA;
  color: #FFFFFF;
}
.botonLogin:hover{
  background-color: #FFFFFF;
  color: black;
  width: 11vw;
  height: 6vh;

}




/***********************************Pagina-administrador****************************************/
.pageAdmin{
  width: 100%;
  
}
.panel{
  width: 80%;
  margin: 0vh 0vw 0vh 10vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.vacio{
  height: 60vh;
}
.agregarProducto,.ListarProductos,.ListarCategorias,.actualizarProducto,.ListarUsuarios{
  width: 15%;
  height: 5vh;
  margin: 20vh 0vw 2vh 0vw;
  background-color:#6269d3;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  font-size: 1vw;
  font-weight: 500;
}
.agregarProducto:hover,
.ListarProductos:hover,
.ListarCategorias:hover,
.actualizarProducto:hover{
  color: rgba(0, 0, 0, 0.692);
  width: 16%;
  height: 6vh;
  background-color: #FFFFFF;
}

/***********************************Formulario****************************************/

.formularioAddProducto{
  display: flex;
  flex-wrap: wrap;
  width: 42vw;
  min-height: 100vh;
  height: auto;
  margin: -55vh 0vw 4vh 30vw;
  background-color:#FFFFFF;
  border-radius: 5px;
}

.tituloFormulario{
  width: 100%;
  font-size: 1.5vw;
  text-align: center;
  margin: 4vh 0vw 1vh 0vw;
  color:#6269d3;
  font-weight: bold;
}
.inputName,.inputCategoria,.inputDescripcion,.inputPrecio,.inputTipo,.inputConsola,.inputImage1,.inputImage2,.inputImage3,.inputImage4,.inputImage5,.inputCaracteristicaAdd{
  width: 11vw;
  height: 6%;
  margin: 0vh 0vw 0vh 2.5vw;
  background-color:rgba(128, 128, 128, 0.568);
  text-align: center;
  border-radius: 5px;
  border: none;
}
.contenedorCaracteristicaCheckbox{
  display: flex;
  flex-wrap: wrap;
  width: 38vw;
  min-height: 15vh;
  margin: 0vh 0vw 0vh 1.8vw;
  padding: 0vh 0vw 2vh 0vw;
  border-radius: 5px;
  background-color:rgba(128, 128, 128, 0.568);

}
.tituloCheckbox{
  width: 100%;
  height: 18%;
  text-align: center;
  font-size: 1.2vw;
  font-weight: 500;
  margin: 2vh 0vw 0vh 0vw;
}

.contenedorCheckbox{
  display: flex;
  justify-content:space-between;
  margin: 2vh 0vw 0vh 1vw;
}
.inputCheckbox{
  width: 5vw;
  height: 3vh;
  margin: 0vh 0vw 0vh -1.5vw;
}
.nombreCaracteristica{
  margin: 0vh 0vw 0vh -1.5vw;
}
.inputDescripcion{
  width: 20vw;
  height: 12vh;
  margin: 0vh 0vw 0vh 4vw;
}

.guardarProducto{ 
  width: 15vw;
  height: 5vh;
  margin: 2.5vh 0vw 0vh 13vw;
  background-color:#6269d3;
  border-radius: 5px;
  border: none;
  color:#FFFFFF;
  font-size: 1vw;
}
.guardarProducto:hover{
  width: 16vw;
  height: 6vh;
}
/* .mensajeExitoso,.mensajeError{
  width: 30%;
  height: 6vh;
  margin: 2vh 0vw 0vh 37vw;
  text-align: center;
  color:green;
  font-size: 2vw;
}
.mensajeError{
  color: red;
} */

.textFalla,.textExito{
  color:#6269d3;
  width: 25vw;
  height: 55vh;
  bottom:6vh;
} 
.textExito{
  height: 65vh;
}
.textFallaServer{
  color:#6269d3;
  width: 25vw;
  height: 57vh;
  bottom:6vh;
}


/***********************************Listar-Producto-Administrador****************************************/
.listaAdmin{
  margin: -55vh 0vw 0vh 0vw;
}
.titleListProducts{
  color:#4867DB;
  font-weight: 600;
  width: 25vw;
  margin: 3vh 0vw 0vh 39vw;
  font-size: 1.8vw;
  text-align: center;
  background-color: #FFFFFF;
  border-radius: 5px;
}
.contenedorListaProductos{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  margin: 10vh 0vw 37vh 10vw;
  padding: 0vh 0vw 0vh 0vw;
  background-color: #FFFFFF;
  border-radius: 5px;
}

.contenedorProductosAdmin{
  width: 70vw;
    height: 10vh;
    display: flex;
    margin: 4vh 0vw 4vh 0vw;
    background-color:#6269d3;
    border-radius: 5px;

}
.listId,.listName,.listCategoria,.listTipo{
  width: 15vw;
  height: 4vh;
  margin: 3.5vh 0vw 0vh 1vw;
  text-align: center;
  color: #FFFFFF;
  font-size: 1.1vw;
  line-height: 1vw;
}
.imageProductListAdmin{
  width: 6vw;
  height: 6vh;
  margin: 2vh 0vw 0vh 2vw;
}
.botonEditar,.botonEliminar{
  width: 4vw;
  height: 6vh;
  margin: 2vh 2vw 0vh 2vw;
  border: none;
  border-radius: 5px;
}

/***********************************Editar-Producto-Administrador****************************************/

/************Caracteristicas del producto******************/

.pageEditar{
  margin: 0;
}
.botonAtrasEditar{
  width: 8vw;
  height: 5vh;
  background-color:#4867DB;
  border-radius: 5px;
  border: none;
  color: #FFFFFF;
  font-size: 1vw;
  margin: 20vh 0vw 0vh 80vw;
}
.botonAtrasEditar:hover{
  background-color: #FFFFFF;
  color: black  ;
  width: 9vw;
}
.tituloEditar{
  width: 25vw;
  font-weight:100;
  color:#0e41f7;
  margin: 0vh 0vw 4vh 2vw;
}
.contenedorActualizar{
  display: flex;
  width: 100%;
}
.contenedorEditar{
  width: 40%;
  margin: 0vh 0vw 3vh 2vw;
}

.idEditar,.nameEditar,.typeEditar,.categoriaEditar,.descripcionEditar,.precioEditar,.consolaEditar,.idImagen,.urlImagen,.idProductoImagen,.idCarateristica,.nameCaracteristica,.descripcionCaracteristica{
  color:#0e41f7;
  font-size: 1.2vw;
}
.contenedorEditar span{
  color:rgba(0, 0, 0, 0.705);
}

/************Formulario actualizar producto******************/


.formularioActualizarProducto{
  /* display: flex;
  flex-wrap: wrap;
  width: 50vw;
  height: 90vh;
  margin: 4vh 0vw 5vh 4vw;
  padding: 0vh 0vw 2vh 0vw;
  background-color:#FFFFFF;
  border-radius: 5px; */

  display: flex;
  flex-wrap: wrap;
  width: 42vw;
  min-height: 100vh;
  height: 90vh;
  margin: 4vh 0vw 5vh 8vw;
  background-color:#FFFFFF;
  border-radius: 5px;
}
.inputActualizar,.inputActualizarDescripcion,.inputCaracteristica{
  width: 11vw;
  height: 6%;
  margin: 0vh 0vw 0vh 2.5vw;
  background-color:rgba(128, 128, 128, 0.568);
  text-align: center;
  border-radius: 5px;
  border: none;
}
.inputCaracteristica{
  height: 6vh;
}
.inputActualizarDescripcion{
  width: 40%;
  height: 13%;
  margin: 2vh 0vw 0vh 4vw;
}
.botonActualizar{
  width: 15vw;
  height: 8%;
  margin: 4vh 0vw 0vh 3vw;
  background-color:#6269d3;
  border-radius: 5px;
  border: none;
  color:#FFFFFF;
  font-size: 1vw;
}
.botonActualizar:hover{
  width: 16vw;
  height: 9%;
}

/**********************************Panel Categorias y caracteristicas***********************************************/
.panelCategorias, .panelCaracteristicas{
  padding: 20vh;    
  min-height: 84vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0vh 9vw 0vh 0vw;

}
.tituloCategoriasAdmin,.tituloCaracteristicasAdmin{
  margin: 2vh 0vw 0vh 0vw;
  color: #4867DB;
}
.botonRegresarPageAdmin{
  margin: 1vh 0vw 0vh 77vw;
  width: 8vw;
  height: 5vh;
  background-color:#4867DB;
  border-radius: 5px;
  border: none;
  color: #FFFFFF;
  font-size: 1vw;
}
.botonRegresarPageAdmin:hover{
  background-color: #FFFFFF;
  color: black  ;
  width: 9vw;
}
.btn-primary{
  background-color:#4867DB;
  border: none;
}
.btn-primary:hover{
  background-color:#FFFFFF;
  color: rgba(0, 0, 0, 0.733);
}

/**********************************Listar usuarios***********************************************/

.contenedorListadoUsuario{
  background-color:#FFFFFF;
  margin: -50vh 0vw 30vh 13vw;
  width: 75vw;
  height: 60vh;
  border-radius: 8px;
  padding: 2vh 0vw 0vh 0vw;
}
.tituloUsuarios{
  text-align: center;
  margin: 0vh 0vw 2vh 0vw;
  border-radius: 8px;
  color:#4867DB;
  font-size: 2vw;
}

.contenedorDataUsuario{
  display: flex;
  background-color:#4867DB;
  width: 69vw;
  height: 11vh;
  margin: 4vh 0vw 0vh 3vw;
  border-radius: 5px;
}
.dataUsuario,.dataUsuarioName,.dataUsuarioNombre,.dataUsuarioApellido,.dataUsuarioRol{
  width: 6svw;
  height: 4vh;
  margin: 3vh 0vw 0vh 1vw;
  text-align: center;
  color: #ffffffce;
}
.dataUsuarioName{
  width: 15vw;
  height: 7vh;
  margin: 3vh 0vw 0vh 1vw;
}
.dataUsuarioNombre,.dataUsuarioApellido,.dataUsuarioRol{
  width: 12vw;
}
.botonCambioUsuario{
  width: 5.5vw;
  height: 5vh;
  margin: 2.8vh 1vw 0vh 0vw;
  font-size: 0.9vw;
  border-radius: 5px;
  background-color: #AC6ABA;
  border: none;
  color: #FFFFFF;
}
.botonCambioUsuario:hover{
    background-color: #FFFFFF;
    color: rgb(0, 0, 0);
}


/***********************************Table****************************************/

/***********************************Header****************************************/
@media(max-width:900px){
  .contenedorLogo{
    width: 32vw;
    height: 15vh;
    flex-direction: column;
    margin: 0vh 0vw 0vh 4vw;
    justify-content:space-between;
  }
  .imagenLogo{
    width: 22vw;
    height: 10vh;
    margin: 0vh 0vw -0.5vh 0vw;
  }
  .lema{
    width: 40vw;
    margin: 0vh 0vw 1vh 0vw;
    text-align:left;
    font-size: 3vw;
  }
  .botones{
    width: 65vw;
    height: 5vh;
    margin: 4vh 5vw 0vh 0vw;
  }
  .crear-cuenta,.iniciar-sesion{
    width: 22vw;
    height: 4vh;
    margin: 0.5vh 0vw 0vh 0vw;
    font-size: 2.9vw;
  }
  .themeLight,.themeDark{
    height: 80%;
    margin: 0.5vh 0vw 0vh 1vw;
  }
  .contenedorAvatar{
    width: 10vw;
    height: 10vh;
    margin: 3vh 0vw 0vh -5vw;
    background-color: transparent;
  }
  .imageAvatar{
    width: 5vw;
    margin: 0vh 0vw 0vh 2vw;
  
  }
  .nombreAvatar{
    font-size: 3vw;
    margin: 0vh 0vw 3vh 3vw;
  }
  .userInfo{
    width: 16vw;
    height: 10vh;
    font-size: 2.2vw;
  }
  
  /************************************Footer***********************************/
  
  .derechos{
    width: 30vw; 
    margin: 5vh 0vw 0vh 10vw;
  }
  .circuloFooter{
    width: 28px;
    margin: 2.3vh 0vw 0vh 0vw;
  }
  .mensajeFooter{
    width: 15vw; 
    height: 3vh;
    font-size: 2.5vw;
    margin: 3vh 0vw 0vh 0vw;
  }
  .navegacionFooter{
    width: 30vw;
    height: 5vh;
    margin: 6.5vh 10vw 0vh 0vw; 
  }
  .bx.bxl-facebook-circle,.bxl-whatsapp,.bxl-instagram,.bxl-twitter {
    font-size: 5vw;
    margin: 1vh 2vw 0vh 0vw;
  }

  /***********************************Home****************************************/
  
  /********************Categorias****************/

  .contenedorCategorias{
    width: 30vw;
  }
  .tituloCategorias{
    font-size: 3vw;
  }
  .categoriaUno, .categoriaDos,.categoriaTres,.categoriaCuatro,.categoriaCinco{   
     width: 28vw;
    margin: 2vh 0vw 0vh 1vw;
  }

  .tituloCategoriaUno,.tituloCategoriaDos,.tituloCategoriaTres,.tituloCategoriaCuatro,.tituloCategoriaCinco{
    font-size: 2.5vw;
  }
  .img1CategoriaUno,.img2CategoriaUno,.img1CategoriaDos,.img2CategoriaDos,.img1CategoriaTres,.img2CategoriaTres,.img1CategoriaCuatro,.img2CategoriaCuatro,.img1CategoriaCinco,.img2CategoriaCinco{
    width: 26vw;
    height: 15vh;
    margin: 1vh 0vw 0vh 0vw;
  }
  .img1CategoriaUno:hover,
.img2CategoriaUno:hover,
.img1CategoriaDos:hover,
.img2CategoriaDos:hover,
.img1CategoriaTres:hover,
.img2CategoriaTres:hover {
  width: 18vw;
  height: 11vh;
}

/********************Buscador****************/
.contenedorDos{
  width: 65%;
  margin: 0vh 0vw 0vh 2vw;
}

.formularioBuscador{
  width: 40vw;
  margin: 20vh 0vw 0vh 0vw;

}
.inputSearch{
  width: 30vw;
  font-size: 2.5vw;
}
.botonBuscar{
  margin: 1vh 3vw 0vh 0vw;
}
.bx-search-alt{
  font-size: 4vw;
}

/********************Carrusel****************/

.contenedorCarrusel{
  width: 50vw;
  height: 25vh;
  margin: 4vh 0vw 0vh 0vw;
}
.tituloCarrusel{
  font-size: 3vw;
  margin: 1vh 0vw 0vh 18vw;
}
#carouselExampleIndicators{
  width: 40vw;
  height: 15vh;
  margin: 0vh 0vw 5vh 0vw;
}

.carousel-inner{
  width: 44vw;
  height: 17vh;
  margin: 1vh 0vw 0vh 3vw;

}
.carousel-control-prev{
  margin: 10vh 0vw 0vh -1.5vw;
}
.carousel-control-next{
  margin: 10vh -13vw 0vh 0vw;
}

/********************Productos****************/

.contenedorProductos{
  margin: 0vh 0vw 4vh 0vw;
  width: 65vw;
}
.tituloProductos{
  font-size: 4vw;
  margin: 6vh 0vw 0vh 0vw;
}
.card{
  width: 28vw;
  height: 14%;
}
.imageProduct{
  width: 28vw;
  height: 15vh;
}
.DescriptionProduct{
  height: 5vh;
  text-align: center;
  font-size: 1.2vw;
  margin: 1vh 0vw 0vh 0vw;
}
a{
  text-decoration: none;
}

.botonPaginadoAtras,.botonPaginadoAdelante{
  width: 10vw;
}

/***********************************Detail****************************************/

.contenedorImagenesDetail{
  margin: 3vh 0vw 0vh 15vw;
  width: 80vw;
}
.botonRegresar{
  width: 9vw;
  font-size: 1.5vw;
}
.verMas{
  width: 9vw;
  margin: 3vh 0vw 0vh 85vw;
  font-size: 1.5vw;
}
.tituloDetallesDeProducto{
  background-color:#4867DB;
  text-align: center;
  font-size: 2.5vw;
  color: #FFFFFF;
}
.categoriaProducto,.descripcionProducto,.precioProducto{
font-size: 2vw;
}
.contenedorComprar{
width: 20vw;
height: 25vh;
margin: 2vh 0vw 0vh 12vw;
}
.botonComprar{
width: 9vw;
font-size: 1.5vw;
}
.botonComprar{
width: 9vw;
font-size: 1.5vw;
}
.contenedorMostrarCaracteristicas{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  height: auto;
  margin: 2vh 0vw 0vh 10vw;
}
.nombreCaracteristicas{
  margin: 0vh 0vw 1vh 0vw;
  width: 35vw;
  }

/************Formulario crear cuenta******************/

.formRegister{
  width: 40vw;
  margin: 7vh 0vw 5vh 30vw;
}
.titleFormRegister{
  margin: 1vh 0vw 0vh 12vw;
  font-size: 2.5vw;
}
.etiquetaUserName,.etiquetaPassword,.etiquetaName,.etiquetaApellido,.etiquetaEmail{
  margin: 1vh 0vw 1vh 8vw;
}
.inputUserName,.inputPassword,.inputNameRegister,.inputApellido,.inputEmail{
  width: 25vw;
  margin: 0vh 0vw 0vh 8vw;
}
.crearCuenta{
  width: 20vw;
  height: 5vh;
  margin: 2vh 0vw 2vh 10vw;
}
.crearCuenta:hover{
  width: 21vw;
}

/************Formulario Login******************/

.formLogin{
  width: 35vw;
  margin: 20vh 0vw 16vh 34vw;
}
.titleFormLogin{
  width: 40%;
  margin: 2vh 0vw 0vh 11vw;
  font-size: 3vw;
}
.etiquetaUserNameLogin,.etiquetaPasswordLogin{
  margin: 2vh 0vw 1vh 8vw;
}
.inputUserNameLogin,.inputPasswordLogin{
  width: 20vw;
  margin: 0vh 0vw 0vh 8vw;
}
.botonLogin{
  width: 15vw;
  margin: 3vh 0vw 2vh 10vw;
}
.botonLogin:hover{
  width: 16vw;

}



/***********************************Pagina-administrador****************************************/

  .pageAdmin{
    display: none;
  }
  .panelCategorias, .panelCaracteristicas{
    display:none;
  }


}

/***********************************Mobile****************************************/

/***********************************Header****************************************/

@media(max-width:480px){

  .imagenLogo{
    width: 30vw;
    height: 8vh;
    margin: 0vh 0vw 0vh 1vw;
  }
  .lema{
    width: 52vw;
    margin: 0vh 0vw 1vh -1vw;
    text-align: center;
    font-size: 4vw;
  }
  .crear-cuenta,.iniciar-sesion{
    font-size: 3vw;
    width: 25vw;
    margin: 0.5vh 0vw 0vh 2vw;
  }
  .contenedorAvatar{
    display: none;
  }

  /************************************Footer***********************************/
  .circuloFooter{
    width: 17px;
    height: 15px;
    font-size: 1.5vw;
    margin: 3vh 0vw 0vh 0vw;
    padding: 0.2vh 0vw 0vh 0vw;
  }
  
  .mensajeFooter{
    width: 20vw; 
    font-size: 3vw;
    margin: 2.9vh 0vw 0vh 2vw;
  }
  .navegacionFooter{
    height: 5vh;
  }
  .bx.bxl-facebook-circle,.bxl-whatsapp,.bxl-instagram,.bxl-twitter {
    margin: 1vh 2vw 0vh 0vw;
  }

/************************************Home***********************************/ 

 /********************Categorias****************/

 .contenedorCategorias{
  width: 35vw;
}

.categoriaUno, .categoriaDos,.categoriaTres,.categoriaCuatro,.categoriaCinco{   
  width: 32vw;
  margin: 4vh 0vw 0vh 1.5vw;
}

.img1CategoriaUno,.img2CategoriaUno,.img1CategoriaDos,.img2CategoriaDos,.img1CategoriaTres,.img2CategoriaTres,.img1CategoriaCuatro,.img2CategoriaCuatro,.img1CategoriaCinco,.img2CategoriaCinco{
  width: 30vw;
  height: 18vh;
  margin: 2vh 0vw 0vh 0vw;
}



/********************Buscador****************/
.contenedorDos{
  width: 60%;
  margin: 0vh 0vw 0vh 2vw;
}
.formularioBuscador{
  width: 55vw;
  height: 4vh;
  margin: 20vh 0vw 0vh 0vw;
}
.inputSearch{
  width: 40vw;
  height: 3vh;
  font-size: 3.5vw;
  margin: 0.5vh 0vw 0vh 5vw;
}
.botonBuscar{
  width: 5vw;
  height: 3vh;
  margin: 0.7vh 3vw 0vh 0vw;
}
.bx-search-alt{
  font-size: 5vw;
}

/********************Carrusel****************/

.contenedorCarrusel{
  width: 58vw;
  margin: 4vh 0vw 0vh 0vw;
}
.tituloCarrusel{
  font-size: 4vw;
  margin: 1vh 0vw 0vh 20vw;
  color: #FFFFFF;
}
.carousel-inner{
  height: 17.5vh;
  margin: 1vh 0vw 0vh 7vw;

}
.carousel-control-prev{
  margin: 10vh 0vw 0vh -0.5vw;
}
.carousel-control-next{
  margin: 10vh -18.5vw 0vh 0vw;
}



/********************Productos****************/

.contenedorProductos{
  width: 60vw;
  margin: 0vh 0vw 4vh 0vw;
}
.tituloProductos{
  font-size: 4vw;
  margin: 4vh 0vw 0vh 0vw;
}
.card{
  width: 50vw;
  height: 15vh;
  margin: 4vh 0vw 0vh 0vw;
}
.imageProduct{
  width: 50vw;
  height: 10vh;
}
.DescriptionProduct{
  height: 5vh;
  text-align: center;
  font-size: 2vw;
  margin: 1vh 0vw 0vh 0vw;
}
a{
  text-decoration: none;
}
.botonPaginadoAtras,.botonPaginadoAdelante{
  width: 11vw;
}


/***********************************Detail****************************************/

.botonRegresar{
  width: 15vw;
  font-size: 2.5vw;
  margin: 2vh 0vw 0vh 80vw;
}
.contenedorImagenesDetail{
  margin: 3vh 0vw 0vh 5vw;
  width: 90vw;
}

.imagen1Producto{
  width: 100%;
}
.contenedor4imagenes{
  width: 100%;
}
.imagen2Producto,.imagen3Producto,.imagen4Producto,.imagen5Producto{
    width: 50%;
}
.verMas{
  width: 15vw;
  margin: 54vh 0vw 0vh 80vw;
  font-size: 2.5vw;
}
.verMas:hover{
  width: 10.5vw;
}
.tituloDetallesDeProducto{
  font-size: 3vw;
}
.categoriaProducto,.descripcionProducto,.precioProducto{
font-size: 3vw;
}
.contenedorComprar{
width: 50vw;
height: 25vh;
margin: 2vh 0vw 0vh 12vw;
}
.botonComprar{
width: 15vw;
font-size: 2.5vw;
}

/************Formulario crear cuenta******************/

.formRegister{
  width: 70vw;
  margin: 7vh 0vw 5vh 15vw;
}
.titleFormRegister{
  margin: 2vh 0vw 0vh 22vw;
  font-size: 4vw;
}
.etiquetaUserName,.etiquetaPassword,.etiquetaName,.etiquetaApellido,.etiquetaEmail{
  margin: 1vh 0vw 1vh 11vw;
}
.inputUserName,.inputPassword,.inputNameRegister,.inputApellido,.inputEmail{
  width: 50vw;
  margin: 0vh 0vw 0vh 11vw;
}
.crearCuenta{
  width: 30vw;
  margin: 2vh 0vw 2vh 20vw;
}
.crearCuenta:hover{
  width: 31vw;
}

/************Formulario Login******************/

.formLogin{
  width: 70vw;
  margin: 20vh 0vw 16vh 16vw;
}
.titleFormLogin{
  margin: 2vh 0vw 0vh 22vw;
  font-size: 5vw;
}
.etiquetaUserNameLogin,.etiquetaPasswordLogin{
  margin: 2vh 0vw 1vh 15vw;
  font-size: 4.5vw;
}
.inputUserNameLogin,.inputPasswordLogin{
  width: 40vw;
  margin: 0vh 0vw 0vh 15vw;
}
.botonLogin{
  width: 20vw;
  margin: 3vh 0vw 2vh 24vw;
  font-size: 4vw;
}
.botonLogin:hover{
  width: 21vw;

}



/***********************************Pagina-administrador****************************************/

.pageAdmin{
  display: none;
}

}











