.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  /* Para que la página ocupe al menos el alto de la ventana del navegador */
}


.content {
  margin: 6rem 0rem 0rem 0rem;
  flex: 1;
  /* El contenido ocupará todo el espacio disponible */
  display: flex;
  align-items: center;
  /* Puedes agregar estilos adicionales según necesites */
}


/******************************************************************/
/********************Productos****************/
/******************************************************************/


.contenedorProductos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 3vh 0vw 4vh 0vw;
  width: 75%;
}

.tituloProductos {
  width: 100%;
  padding: 10px;
  background-color: white;
  color: #4867DB;
  border-radius: 5px;
  font-size: 2.5vw;
  text-align: center;
}

.card {
  width: 20vw;
  height: auto;
  padding: 5px;
  margin: 1vw;
  background-color: #AC6AB4;
  color: black;
  box-shadow: (8px 8px 8px 10px) black;
  margin-top: 2vw;
  border-color: #0056b3;
  border-width: 0.3vh;
  transition: transform 0.3s ease;
  display: flex;

}

.card:hover {
  transform: scale(1.05);
}

.tituloProducto {
  margin-top: 5px;
  color: white;
  text-align: center;
  font-weight: 700;
}

.DescriptionProduct {
  color: white;
  text-align: center;
}

.imageProduct {
  width: 90%;
  height: 25vh;
  margin-left: 1vw;
  border-radius: 1vh;
}

a {
  text-decoration: none;
}

.estrellas {
  margin: 0vh 1vw 0vh 0vw;
}



/* ESTE ES EL CONTENEDOR DE LOS CALENDARIOS  */
/* ESTE ES EL CONTENEDOR DE LOS CALENDARIOS  */
/* ESTE ES EL CONTENEDOR DE LOS CALENDARIOS  */

.contenedorFechasDetail {
  height: 5vh;
  margin: 0.5vh 7vw 0vh 8vw;
  display: flex;
  justify-content: space-between;
}

.calendarioInicioDetail {
  width: 25vh;
  height: 33px;
  margin: 8px 0.5vw 0vh 0vw;
  display: flex;
  border-radius: 8px;
  font-size: 2.1vh
}

.calendarioFinalizacionDetail {
  width: 25vh;
  height: 33px;
  margin: 8px 0.3vw 0vh 0vw;
  display: flex;
  border-radius: 8px;
}


.botonBuscarFechaDetail {
  width: 5vw;
  height: 3.5vh;
  border: 2px solid black;
  /* Agregar borde negro de 2px */
  border-radius: 10px;
  margin: 0vh 0vw 0vh 0vw;
  cursor: pointer;
  background-color: #AC6ABA;
  box-sizing: border-box;
  color: #070000;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  outline: none;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.caracteristicas {
  display: flex;
  margin: 1vh 0vw 0vh 0vw;
  width: 100%;
  justify-content: space-around;/******************************************************************/
}

.comparteRedes {
  display: flex;
  margin: 1vh 0vw 2vh 0vw;


}

/* FAVORITOS DENTRO DE DETAIL  */

.contenedorFavorito {
  display: inline-block;
  position: relative;
  align-items: center;
  justify-content: center;
  left: 10vw;
  padding: 4px;

}

.bx-heart {
  color: black;
  font-size: 40px;
  cursor: pointer;
}

.bx-heart:hover {
  color: red;
  font-size: 40px;
  cursor: pointer;
}

.bx.bxs-heart {
  color: red;
  font-size: 40px;
  cursor: pointer;
}



/******************************************************************/
/***********************************Pagina-administrador****************************************/
/******************************************************************/
.pageAdmin {
  width: 100vw;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  /* background-image: url('/src/Images/24.jpg'); */
}

.panel {
  align-items: center;
  justify-content: center;
  display: flex;
  /* 
  align-items: center;
  justify-content: space-between;
  max-width: 80vw;
  max-height: 100vh; */
}


.contenidoAdmin {
  display: flex;
  flex-direction: column;

}

.agregarProducto,
.ListarProductos,
.ListarCategorias,
.actualizarProducto {
  margin: 1rem;
  width: 180px;
  height: 30px;
  background-color: #6269d3;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}

.agregarProducto:hover,
.ListarProductos:hover,
.ListarCategorias:hover,
.actualizarProducto:hover {
  color: rgba(0, 0, 0, 0.692);
  width: 180px;
  height: 28px;
  ;
  background-color: #FFFFFF;
  box-shadow: 5px 5px 15px rgb(78, 77, 77);
}



/******************************************************************/
/* Estilos para las sugerencias del Autosuggest */
/******************************************************************/


.react-autosuggest__suggestions-container {
  position: relative;
  z-index: 10;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  width: calc(100% - 20px);
  /* Ancho del contenedor (ajustar según sea necesario) */
  max-height: 200px;
  /* Altura máxima del contenedor (ajustar según sea necesario) */
  overflow-y: auto;
  /* Agregar barra de desplazamiento vertical si es necesario */
  background-color: white;
  /* Fondo blanco */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.react-autosuggest__suggestions-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.react-autosuggest__suggestion {
  padding: 10px;
  cursor: pointer;
  color: black;
  /* Color de texto negro */
}

.react-autosuggest__suggestion--highlighted {
  background-color: #f0f0f0;
}


@media(max-width:800px) {


  /***********************************Pagina-administrador****************************************/

  .pageAdmin {
    display: none;
  }

}