.container{
    display: flex;
    flex-direction: column;
    
    margin-top: -30px;
}
.dropdownToggle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}
.cardUsuario {
  
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;  
  margin-bottom: -1vh;
  z-index: 1;
  
  color: aliceblue;
}
.imageContainer{
    margin-right: 5px;
    max-width: 80%;
    max-height: 70%;
}  
.userInfo {
  margin: 20px;   
}
.dropdownMenu {  
  width: 70%; 
   
}  
.cerrarSesion {
    background-color: #4867DB !important;
    color: white !important;
}
