.contenedorCarrusel{
    margin: 2vh 0;
    max-width: 700px;
    max-height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  h5{
    font-size: 30px;
    font-weight: bolder;
    color: white;
    border-color: black;
  }
  .tituloCarrusel{
    text-align: center;
    margin-bottom: -30px;
    color: white;
    
  }
  .carousel-inner{
    width: auto;
    height: auto;
    width: 700px; 
    height: 450px;
    object-fit: cover;
  } 
  

  .imageCarrusel{
    width: 700px;
    height: 450px;
    object-fit: cover;
  }